@*This must be inside folder - App_Code*@


@helper InventoryOverviewTable()
{
    <script>
        var table;
        $(document).ready(function () {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/getInventoryoverviewlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-storeInventory').DataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'CategoryName' },
                            { 'data': 'Quantity' },
                            { 'data': 'PONotFulfilled' },
                            { 'data': 'StaffOrderNotFulfilled' },
                            { 'data': 'UoM' }
                        ]
                    });
                    table.column(0).visible(false);
                }
            });
        });

        $(document).ajaxComplete(function () {
            $('#dataTable-storeInventory tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                alert(data["ItemCode"]);
            });

        });
    </script>
    <div>
        <h2>Inventory - Overview</h2>
    </div>
    <table id="dataTable-storeInventory" class="display" style="width:80%">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Category</th>
                <th>Available</th>
                <th>PO Back Orders</th>
                <th>Staff Requisitions Back Orders</th>
                <th>Unit of Measure</th>
            </tr>
        </thead>
    </table>
}

@helper ReorderStock()
{
    <script>
        var table;
        // Load Datatable
        $(document).ready(function () {
            table = $('#dataTable-storeManagerInventoryReorder').DataTable({
                scrollY: '30vh',
                scrollCollapse: true,
                paging: true,
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<input type='checkbox' checked/>"
                }]
            });
        });

        $(function () {
            $("#dialog").dialog({
                autoOpen: false
            });
        });

        $('#btn-create-POs').click(function () {
            $('#dialog').dialog('open');
            return false;
        });
    </script>

    <div>
        <h2>Inventory - Reorder</h2>
    </div>

    <table id="dataTable-storeManagerInventoryReorder" class="display" style="width:80%;">
        <thead>
            <tr>
                <th>Item Description</th>
                <th>Reorder Qty</th>
                <th>Unit</th>
                <th>Supplier</th>
                <th>Include In PO</th>
            </tr>
        </thead>
    </table>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <span>
                    <button class="btn btn-info" id="btn-create-POs">Create Purchase Order</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog" class="hidden" title="Basic dialog">
        <p>Purchase order(s) have been created.</p>
    </div>
}

@*  ---- Old version of add item button --- *@

@helper AddDeptNewItemButton()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item</th>
                        <th>Unit of Measurement</th>
                        @*<th>Btn</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/getshortitemlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'UoM' }
                        ]
                    });
                    table.column(0).visible(false);
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });

        });
    </script>
}

@helper AddStoreNewItemButton()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item</th>
                        <th>Unit of Measurement</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/getshortitemlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'UoM' }
                        ]
                    });
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });
            //// For adding edit button
            //$('#dataTable-addNewItem tbody').off().on('click', '#test', function () {
            //    var RowIndex = table.row(this).index();
            //    var data = table.cells(RowIndex, 0).data('Updated');
            //    alert('row!: ' + data[$(this).closest('tr').index()]);
            //});
        });
    </script>
}

@helper POAddNewItemBtn()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Description</th>
                        <th>Quantity Available</th>
                        <th>Unit of Measure</th>
                        <th>Supplier</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetItemListAndSupplier',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'Quantity' },
                            { 'data': 'UoM' },
                            { 'data': 'S1' },
                        ]
                    });
                    table.column(0).visible(false);
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });

        });
    </script>
}