@*This must be inside folder - App_Code*@

@helper SearchInventoryTextBox()
{
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
        </div>
        <script>
            $(function () {
                $("#tags").autocomplete({
                    source: ["Test1", "ATest1"]
                });
            });
        </script>
    </body>
}

@helper InventoryOverviewDatatable()
{
    <script>
        var table;
        $(document).ready(function () {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/getInventoryoverviewlist/c001',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-storeInventory').DataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'CategoryName' },
                            { 'data': 'Quantity' },
                            { 'data': 'UoM' },
                            { 'data': 'PONotFulfilled' },
                            { 'data': 'StaffOrderNotFulfilled' }
                        ]
                    });
                }
            });
        });

        $(document).ajaxComplete(function () {
            $('#dataTable-storeInventory tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                alert(data["ItemCode"]);
            });

        });
    </script>

    <div>
        <h2>Inventory - Overview</h2>
    </div>


    <table id="dataTable-storeInventory" class="display" style="width:80%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Category</th>
                <th>Available</th>
                <th>Units</th>
                <th>PO Backorders not fulfilled</th>
                <th>Staff Requisitions not fulfilled</th>
            </tr>
        </thead>
    </table>
}

@helper GoodsReceivedDetailedDatatable()
{
    <script>
        var table;
        $(document).ready(function () {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetGoodsReceivedLists/c001',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-displayGR').DataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'UoM' },
                            { 'data': 'QuantityReceived' },
                            { 'data': 'UnitCost' },
                            { 'data': 'Total' },
                            //{ 'data': 'ReceiptNo' }
                            //{ 'data': 'ReceivedDate' },
                            //{ 'data': 'CompanyName' },
                            //{ 'data': 'Receiver' }
                        ]
                    });
                }
            });
        });
    </script>
}

@helper AddDeptNewItemButton()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item</th>
                        <th>Unit of Measurement</th>
                        @*<th>Btn</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/getshortitemlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'UoM' }
                        ]
                    });
                    table.column(0).visible(false);
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });

        });
    </script>
}

@helper AddStoreNewItemButton()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item</th>
                        <th>Unit of Measurement</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/getshortitemlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'UoM' }
                        ]
                    });
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });
            //// For adding edit button
            //$('#dataTable-addNewItem tbody').off().on('click', '#test', function () {
            //    var RowIndex = table.row(this).index();
            //    var data = table.cells(RowIndex, 0).data('Updated');
            //    alert('row!: ' + data[$(this).closest('tr').index()]);
            //});
        });
    </script>
}

@helper POAddNewItemBtn()
{
    <div>
        <button class="btn-blue" id="btn-print-displaySNewItem">Add New Item</button>
        <div id="dialog-print-displaySNewItem" class="hidden" title="Add New Item">
            <table id="dataTable-addSNewItem" class="display" style="width:80%;">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Description</th>
                        <th>Quantity Available</th>
                        <th>Unit of Measure</th>
                        <th>Supplier</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script>
        $(function () {
            $("#dialog-print-displaySNewItem").dialog({
                autoOpen: false
            });
        });

        $('#btn-print-displaySNewItem').click(function () {
            $('#dialog-print-displaySNewItem').dialog('open');
            return false;
        });

        var table;
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetItemListAndSupplier',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-addSNewItem').DataTable({
                        paging: false,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'Quantity' },
                            { 'data': 'UoM' },
                            { 'data': 'S1' },
                        ]
                    });
                    table.column(0).visible(false);
                }
            });

        });

        $(document).ajaxComplete(function () {
            $('#dataTable-addSNewItem tbody').off().on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById("getItemCode").innerHTML = data["ItemCode"]
            });

        });
    </script>
}