@{
    Layout = null;
}


<script>
        var table;
        $(document).ready(function () {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/getInventoryoverviewlist',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    table = $('#dataTable-storeInventory').DataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        "iDisplayLength": 5,
                        //scrollY: 200,
                        data: data,
                        columns: [
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'CategoryName' },
                            { 'data': 'Quantity' },
                            { 'data': 'PONotFulfilled' },
                            { 'data': 'StaffOrderNotFulfilled' },
                            { 'data': 'UoM' }
                        ]
                    });
                    table.column(0).visible(false);
                }
            });
        });

        $(document).ajaxComplete(function () {
            $('#dataTable-storeInventory tbody').off().on('click', 'tr', function () {

                var data = table.row(this).data();

                $.ajax({
                    url: '/StoreInventory/DisplayItemDetails',
                    data: { maintenanceItemCode: data["ItemCode"] },
                    type: 'POST',
                });

                window.location.href = '@Url.Action("Inventory", "Store")';

            });

        });
</script>
<div>
    <h5>Inventory - Overview</h5>
</div>
<table id="dataTable-storeInventory" class="display" style="width:80%">
    <thead style="font-size: 10pt;">
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Category</th>
            <th>Available</th>
            <th>PO Back Orders</th>
            <th>Staff Requisitions Back Orders</th>
            <th>Unit of Measure</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>