@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetStockAdjustmentSupervisorApproval',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $('#dataTable-storeManagerInventoryReviewAdj').dataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'RequestId' },
                        { 'data': 'DateRequested' },
                        { 'data': 'Requestor' },
                        { 'data': 'Description' },
                        { 'data': 'CategoryName' },
                        { 'data': 'ItemQuantity' },
                        { 'data': 'Amount' },
                        { 'data': 'Remarks' },
                        { 'data': 'Reason' },
                        { 'data': 'Status' },
                    ],
                    columnDefs: [{
                        targets: [-1], render: function (data, type, row, meta) {
                            switch (data) {
                                case 'Approved': return '<button id="Approve">Approve</button><button id ="Reject">Reject</button>'; break;
                                case 'Pending': return 'Approved'; break;
                                default: return 'N/A';
                            }
                        }
                    }],

                });
            }
        });
    });
</script>

<table id="dataTable-storeManagerInventoryReviewAdj" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>RequestID</th>
            <th>Date</th>
            <th>Requestor</th>
            <th>Name</th>
            <th>Category</th>
            <th>Missing Count</th>
            <th>Amount</th>
            <th>Remark</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>
    @*
        <button class="btn-blue-small">@Html.ActionLink("Approve", "Home", "Store")</button>
        <button class="btn-blue-small">@Html.ActionLink("Reject", "Home", "Store")</button>*@
</table>




