@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $.ajax({
            headers: {
                'Authorization': 'Bearer @Session["access-token"].ToString()',
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:49921/api/Restful/GetStockAdjustmentSupervisorApproval',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $('#dataTable-storeManagerInventoryReviewAdj').dataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'RequestId' },
                        { 'data': 'DateRequested' },
                        { 'data': 'Requestor' },
                        { 'data': 'ItemCode'},
                        { 'data': 'Description' },
                        { 'data': 'CategoryName' },
                        { 'data': 'ItemQuantity' },
                        { 'data': 'Amount' },
                        { 'data': 'Remarks' },
                        { 'data': 'Status' },
                    ],
                    columnDefs: [{
                        targets: [-1], render: function (data, type, row) {
                            switch (data) {
                                case 'Pending': return '<button type ="submit" class="btn btn-lu-green" id="Approve" onclick="approveFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')" style="font-size: 10pt;">Approve</button><button id ="Reject" class="btn btn-lu-red" onclick="rejectFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')" style="font-size: 10pt;">Reject</button>'; break;
                                case 'Approved': return 'Approved'; break;
                                default: return 'Rejected';
                            }
                        }
                    },
                    {
                        targets: [3], visible: false,
                    }]
                });
            }
        });      
    });


    function approveFunction(requestId, itemCode) {
        $.ajax({
            url: '/StoreManagerInventory/Approve',
            method: 'POST',
            data: {
                'requestId': requestId,
                'itemCode': itemCode
            }
        });
        alert("Approve button clicked" + " " + requestId + " " + itemCode);
    }



    function rejectFunction(requestId, itemCode) {
        $.ajax({
            url: '/StoreManagerInventory/Reject',
            method: 'POST',
            data: {
                'requestId': requestId,
                'itemCode': itemCode
            }
        });
    }


</script>

<table id="dataTable-storeManagerInventoryReviewAdj" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>RequestID</th>
            <th>Date</th>
            <th>Requestor</th>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Category</th>
            <th>Missing Count</th>
            <th>Amount</th>
            <th>Remark</th>
            <th>Adjustment Request Status</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>