@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPendingApprovals',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-approval').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'ReqFormId' },
                        { 'data': 'DateReq' },
                        { 'data': 'ReqEmpName' }
                    ],
                    drawCallback: function (settings) {
                        alert('DataTables has redrawn the table');
                        $('#dataTable-approval tbody').off().on('click', 'tr', function () {
                            var data = table.row(this).data();
                            alert(data["ReqFormId"]);

                            $.ajax({
                                url: '/DeptApproval/DisplayApprovalDetails',
                                data: { reqFormId: data["ReqFormId"] },
                                type: 'POST',
                            });

                            window.location.href = '@Url.Action("Approval", "Dept")';
                        });
                    }
                });
            }
        });
    });
    
        
</script>

<div>
    <h2>Approval</h2>
</div>


<table id="dataTable-approval" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Requistion Form #</th>
            <th>Date Requested</th>
            <th>Requestor</th>
        </tr>
    </thead>
</table>

