@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<h2>Report- Report2</h2>

<label>Category</label>
<select>
    <option value="postit">Postit</option>
    <option value="pens">Pens</option>
    <option value="clips">Clips</option>
</select>

<label>Item</label>
<select>
    <option value="pen '2">pen fine</option>
    <option value="pen '3">pen normal</option>
    <option value="clip '5">clip '5</option>
    <option value="markers">markers</option>
</select>

<label>Department</label>
<select>
    <option value="deptA">Department A</option>
    <option value="deptB">Department B</option>
    <option value="deptC">Department C</option>
</select>

<p>Month(s)</p>
<form action="/Store/Home">
    <select name="months" multiple>
        <option value="jan">Jan</option>
        <option value="feb">Feb</option>
        <option value="mar">Mar</option>
        <option value="apr">Aor</option>
        <option value="may">May</option>
        <option value="jun">Jun</option>
        <option value="jul">Jul</option>
        <option value="aug">Aug</option>
        <option value="sep">Sep</option>
        <option value="oct">Oct</option>
        <option value="nov">Nov</option>
        <option value="dec">Dec</option>
    </select>
    <p>
        <input class="btn-blue" type="submit">
    </p>
</form>