@{
    Layout = null;
}

@{
    ViewBag.Title = "Department Usage Cost Report";
}

<div>
    <h5>Department Usage Cost Report</h5>
    <label id="lbl-error-info"></label>
    <label id="lbl-cost-info"></label>
</div>

<div class="row">
    <div class="col-md-3">
        <div>
            <label style="font-size: 10pt;">Department: </label>
            @Html.DropDownList("SelectDepartmentDesc", ViewBag.DepartmentList as SelectList)
        </div>
        <div>
            <label style="font-size: 10pt;">Category: </label>
            @Html.DropDownList("SelectCategory", ViewBag.CategoryList as SelectList)
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <span>
                    <label style="font-size: 10pt;">Year</label>
                </span>
                <span>
                    <select id="chosenYear" multiple>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </span>
            </div>
            <div class="col-md-2">
                <span>
                    <label style="font-size: 10pt;">Month(s)</label>
                </span>
                <span>
                    <select id="chosenMonths" multiple>
                        <option value="jan">Jan</option>
                        <option value="feb">Feb</option>
                        <option value="mar">Mar</option>
                        <option value="apr">Apr</option>
                        <option value="may">May</option>
                        <option value="jun">Jun</option>
                        <option value="jul">Jul</option>
                        <option value="aug">Aug</option>
                        <option value="sep">Sep</option>
                        <option value="oct">Oct</option>
                        <option value="nov">Nov</option>
                        <option value="dec">Dec</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <div>
            <span>
                <input class="btn btn-lu-green" type="submit" id="btn-submit-filter2" style="font-size: 10pt;" value="Submit" />
            </span>
            <span id="btn-submit-export2">
                @Html.ActionLink("Export to PDF", "ExportRptDepartmentUsage", "StoreReports", null, new { @class = "btn btn-lu-blue", @id = "btn-export-pdf2", style = "font-size: 10pt;" })
            </span>
        </div>
    </div>
</div>

<hr />

<table id="dataTable-deptUsage" class="table">

    <thead style="font-size: 10pt;">
        <tr>
            @*<th>Dept Name</th>
            <th>Year</th>
            <th>Month</th>*@
            <th>Category</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>Date</th>
            <th>Unit of Measure</th>
            <th>Quantity</th>
            <th>Avg Unit Cost ($)</th>
            <th>Total Cost ($)</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<script>
    var table;

    $(document).ready(function () {
        $('#btn-submit-export2').hide();

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRptDepartmentUsage',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                d = data;

                table = $('#dataTable-deptUsage').DataTable({
                    paging: true,
                    sort: true,
                    search: false,
                    dom: 'lrtip',
                    //scrollY: 200,
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        //{ 'data': 'DepartmentName' },
                        //{ 'data': 'Year' },
                        //{ 'data': 'Month' },
                        { 'data': 'CategoryName' },
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        {
                            'data': 'Date',
                            'render': function (jsonDate) {
                                const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                                ];

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth();
                                return date.getDate() + "-" + monthNames[month] + "-" + date.getFullYear();
                            }
                        },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityReceived' },
                        {
                            'data': 'AvgUnitCost',
                            'render': function (data, type, row) {
                                return parseFloat(Math.round(data * 100) / 100).toFixed(2);;
                            }
                        },
                        {
                            'data': 'TotalCost',
                            'render': function (data, type, row) {
                                return parseFloat(Math.round(data * 100) / 100).toFixed(2);;
                            }
                        }
                    ],
                    drawCallback: function (settings) {
                        
                        $('#btn-submit-filter2').on('click', function () {
                            var selYears = [];
                            var selMonths = [];
                            var search = [];

                            $('#chosenYear option:selected').each(function () {
                                selYears.push($(this).val());
                            });

                            $('#chosenMonths option:selected').each(function () {
                                selMonths.push($(this).val());
                            });

                            if (selMonths.length == 0 || selYears.length == 0) {
                                alert("Please select at least 1 valid month and year.");
                                return;
                            }

                            selYears.forEach(function (element,index1) {
                                selMonths.forEach(function (element, index2) {
                                    var monthYear = selMonths[index2] + "-" + selYears[index1];
                                    search.push(monthYear);
                                });
                            });

                            search = search.join('|');

                            table
                                .columns(6)
                                .search(search, true, false, true).draw();

                            //var deptArray = [];
                            //var categoryArray = [];
                            //deptArray.push(dept);
                            //categoryArray.push(category);

                            var dept = $('#SelectDepartmentDesc :selected').text();
                            var category = $('#SelectCategory :selected').text();
                          
                            table
                                .columns(0)
                                .search(dept, true, false, true).draw();
                            
                            table
                                .columns(3)
                                .search(category, true, false, true).draw();

                            if (table.rows({ filter: 'applied' }).data().length == 0) {
                                $("#lbl-error-info").text("No data found");
                                $("#lbl-cost-info").text("");

                                table
                                    .search('')
                                    .columns().search('')
                                    .draw();
                                return;
                            }

                            var arr = [];
                            var data = table.rows({ filter: 'applied' }).data();

                            for (var i = 0; i < table.rows({ filter: 'applied' }).data().length; i++) {
                                var rowData = data[i];

                                arr.push(JSON.stringify(rowData));
                            }

                            $.ajax({
                                url: '/StoreReports/ExportRptDepartmentUsage2',
                                data: JSON.stringify({ arr: arr }),
                                dataType: "json",
                                contentType: 'application/json; charset=utf-8',
                                type: 'POST',
                            });

                            table.draw(false);
                            $('#btn-submit-export2').show();
                            $("#lbl-error-info").text("");

                            var sum = 0;
                            for (var i = 0; i < table.rows({ filter: 'applied' }).data().length; i++) {
                                var rowData = data[i].TotalCost;
                                sum += rowData;
                            }

                            $("#lbl-cost-info").text("Total cost ($): "+sum);
    
                        });
                        
                    },
                    columnDefs: [
                        {
                            //"targets": [0,1,2],
                            //"visible": false,
                            className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        }
                    ]

                });
            }
        });
    });

    $('#btn-export-pdf2').on('click', function () {
        $('#btn-submit-export2').hide();
    });

    $("#SelectDepartmentDesc").change(function () {
        $('#btn-submit-export2').hide();
        $("#lbl-error-info").text("");

        $("#chosenMonths").val([]);
        $("#chosenYear").val([]);

        $("#lbl-cost-info").text("");

    });

    $("#SelectCategory").change(function () {
        $('#btn-submit-export2').hide();
        $("#lbl-error-info").text("");

        $("#chosenMonths").val([]);
        $("#chosenYear").val([]);

        $("#lbl-cost-info").text("");
    });
</script>