@{
    Layout = null;
}

@{
    ViewBag.Title = "Reorder Report";
}
<div>
    <h5>Reorder Report</h5>
    <span>
        <label>Filter by:</label>
        <select id="chosenToggle1">
            <option value="all">All</option>
            <option value="item">Item</option>
            <option value="category">Category</option>
        </select>
    </span>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            <label style="font-size: 10pt;">Item Description: </label>
            @Html.DropDownList("SelectItemDesc", ViewBag.ItemsList as SelectList, new { @class = "form-control", multiple = "multiple", size = "5", id = "selectItemDesc1" })
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <label style="font-size: 10pt;">Category: </label>
            @Html.DropDownList("SelectCategory", ViewBag.CategoryList as SelectList, new { @class = "form-control", multiple = "multiple", size = "5", id = "selectCategory1" })
        </div>
    </div>
</div>
    
<br />

<div class="row">
    <div class="col-md-12">
        <div style="float:right">
            <span>
                <input class="btn btn-lu-green" id="btn-submit-filter1" type="submit" style="font-size: 10pt;" />
            </span>
            <span id="btn-submit-export1">
                @Html.ActionLink("Export to PDF", "ExportRptReorder", "StoreReports", null, new { @class = "btn btn-lu-blue", @id = "btn-export-pdf1", style = "font-size: 10pt;" })
            </span>
        </div>
    </div>
</div>
    
<hr />     

<table id="dataTable-storeReorder" class="table">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Category</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity</th>
            <th>Reorder Level</th>
            <th>Reorder Quantity</th>
            <th>PO Backordered</th>
            <th>Req Backordered</th>
            <th>Suggested Reorder Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<script>
    var table;
    var searchItems = [];
    var searchCategories = [];

    $('#btn-submit-export1').hide();

    $(document).ready(function () {
        $("#selectCategory1").prop('disabled', true);
        $("#selectItemDesc1").prop('disabled', true);

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRptReorder',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                d = data;

                table = $('#dataTable-storeReorder').DataTable({
                    paging: true,
                    sort: true,
                    search: false,
                    dom: 'lrtip',
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'CategoryName' },
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'Quantity' },
                        { 'data': 'ReOrderLevel' },
                        { 'data': 'ReOrderQuantity' },
                        { 'data': 'POBackOrdered' },
                        { 'data': 'SRBackOrdered' },
                        { 'data': 'SuggestedQty' }
                    ],
                    drawCallback: function (settings) {

                        $('#btn-submit-filter1').on('click', function () {
                            //check if 'all'
                            var filter = $('#chosenToggle1').val();

                            if (filter == "all") {
                                table
                                    .search('')
                                    .columns().search('')
                                    .draw();
                                return;
                            }

                            searchItems = [];
                            searchCategories = [];

                            $('#selectItemDesc1 option:selected').each(function () {
                                searchItems.push($(this).val());
                            });

                            $('#selectCategory1 option:selected').each(function () {
                                searchCategories.push($(this).text());
                            });

                            searchItems = searchItems.join('|');
                            searchCategories = searchCategories.join('|');

                            if (searchCategories.length > 0) {
                                table
                                    .columns(0)
                                    .search(searchCategories, true, false, true).draw();
                            } else if (searchItems.length > 0) {
                                table
                                    .columns(1)
                                    .search(searchItems, true, false, true).draw();
                            } else {
                                //alert("No item selected.");
                                table
                                    .search('')
                                    .columns().search('')
                                    .draw();
                                return;
                            }

                            var data = table.rows({ filter: 'applied' }).data();

                            var arr = [];
                            for (var i = 0; i < table.rows({ filter: 'applied' }).data().length; i++) {
                                var rowData = data[i];

                                arr.push(JSON.stringify(rowData));
                            }

                            if (arr.length == 0) {
                                //alert("No results found.");
                                $('#btn-submit-export1').hide();
                                return;
                            }

                            $.ajax({
                                url: '/StoreReports/ExportRptReorder2',
                                data: JSON.stringify({ arr: arr }),
                                dataType: "json",
                                contentType: 'application/json; charset=utf-8',
                                type: 'POST',
                            });

                            table.draw(false);
                            $('#btn-submit-export1').show();

                        });

                    },
                });
            }
        });
    });

    $('#btn-export-pdf1').on('click', function () {
        $('#btn-submit-export1').hide();

    });

    $('#chosenToggle1').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        if (valueSelected == "item") {
            $("#selectCategory1").val([]);
            $("#selectCategory1").prop('disabled', true);
            $("#selectItemDesc1").prop('disabled', false);

        } else if (valueSelected == "category") {
            $("#selectItemDesc1").val([]);
            $("#selectItemDesc1").prop('disabled', true);
            $("#selectCategory1").prop('disabled', false);
        } else {
            //clear filter on table
            $("#selectCategory1").val([]);
            $("#selectItemDesc1").val([]);
            $("#selectItemDesc1").prop('disabled', true);
            $("#selectCategory1").prop('disabled', true);
        }

        $('#btn-submit-export1').hide();

    });
</script>