@{
    Layout = null;
}


<script>
    $(document).ready(function () {
        $('#dataTable-storeInventoryOverview').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });
</script>

<div>
    <h2>Inventory - Overview</h2>
</div>


<table id="dataTable-storeInventoryOverview" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Category</th>
            <th>Available</th>
            <th>PO Backorders not fulfilled</th>
            <th>Staff Requisitions not fulfilled</th>
            <th>Units</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Clip "2</td>
            <td>Clip</td>
            <td>75</td>
            <td>5</td>
            <td>2</td>
            <td>Dozen</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Clip "2.5</td>
            <td>Clip</td>
            <td>75</td>
            <td>5</td>
            <td>2</td>
            <td>Dozen</td>
        </tr>
    </tbody>
</table>

