@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:49921/WCFService.svc/StockAdjustmentList',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                $('#dataTable-storeInventoryAdj').dataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        {
                            'data': 'DateRequested',
                            'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            }

                        },
                        { 'data': 'Description' },
                        { 'data': 'ItemQuantity' },
                        { 'data': 'Remarks' },
                        { 'data': 'Reason' },
                        { 'data': 'Status' }                        
                    ]
                });
            }
        });
    
       


        //$('#dataTable-storeInventoryAdj').DataTable({
        //    scrollY: '30vh',
        //    scrollCollapse: true,
        //    paging: true
        //});
    });
</script>

<div>
    <h2>Inventory - Stock Adjustment</h2>
</div>


<table id="dataTable-storeInventoryAdj" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Missing/Damaged</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>

</table>

<div id="btns-grp-btm">

    @using (Html.BeginForm("CreateNewStockAdj", "StoreInventory", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Create New Stock Adjustments" />
    }
</div>

<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>
