@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

@*<head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    </head>*@
<script>
    var table;
    var d;
    var i = 0;
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetStockTakeList',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                d = data;
                table = $('#dataTable-storeInventoryStockTake').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'CategoryName' },
                        { 'data': 'Quantity' },
                        {
                            'data': 'QuantityAdjusted',
                            "render": function (data, type, full, meta) {
                                return '<input id="input-qc' + i++ + '" type="text" value="' + $('<div/>').text(data).html() + '">';
                            }
                        },
                        { 'data': 'UoM' }
                    ]
                });
                table.column(0).visible(false);
            }
        });
    });

    $(document).ajaxComplete(function () {
        $('#btn-update').click( function () {
            var dataToSend = "";
            var arr = [];
            var arr1 = []
            for (var i = 0; i < Object.keys(d).length; i++) {
                dataToSend = table.rows(i).data();
                arr1.push(table.cell(i, 4).nodes().to$().find('input').val());
                arr.push(dataToSend[0]);
            }

            alert(JSON.stringify(arr));
            alert(JSON.stringify(arr1));
            
            $.ajax({
                type: 'POST',
                url: '/StoreInventory/StockTakeUpdate',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ arr: arr, arr1: arr1 }),
                success: function () {

                    alert('success');
                }
            });
        });
    });



</script>

<div>
    <h2>Inventory - Stock Take</h2>
</div>


<table id="dataTable-storeInventoryStockTake" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Category</th>
            <th>Available</th>
            <th>Actual</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><input type="text" id="row-1-age" name="row-1-age" value="61"></th>
            <th></th>
        </tr>
    </tbody>
</table>

<div>
    <button class="btn btn-info">@Html.ActionLink("Cancel", "Home", "Store")</button>
</div>

<div>
    <button id="btn btn-info" class="btn-blue"></button>
    @Html.ActionLink("Update", "Home", "Store")
</div>



