@{
    Layout = null;
    string collectionPointId = @ViewBag.collectionPointId;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetCollectionPointList',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-collection-point').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'CollectionPointID' },
                        { 'data': 'CollectionPointDescription' },
                        { 'data': 'CollectionTime' },
                        {
                            'data': null,
                            'render': function (data, type, row) {
                                var CPId = '@collectionPointId';
                                if (CPId == row["CollectionPointID"]) {
                                    return '<input class="input-collection-pt-default" type="checkbox" name="check-read" value="check-collection-point" checked/>';
                                } else {
                                    return '<input class="input-collection-pt-default" type="checkbox" name="check-read" value="check-collection-point"/>';
                                }
                            }

                        }
                    ],
                    columnDefs: [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ],

                    drawCallback: function (settings) {
                        $('input.input-collection-pt-default').on('change', function () {
                            $('input.input-collection-pt-default').not(this).prop('checked', false);
                        });
                    }

                });
            }
        });
    });

    $(function () {
        $("#dialog-submit-edit-CP").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-save-collection-point').on('click', function () {

        var dataToSend = "";
        var arr = [];
        var arr1 = []
        for (var i = 0; i < table.rows().data().length; i++) {
            dataToSend = table.rows(i).data();
            arr.push(dataToSend[0].CollectionPointID);
            var rowChecked =
                table.cell(i, 3).nodes().to$().find('input').prop('checked');
            arr1.push(rowChecked);
        }

        $.ajax({
            url: '/DeptCollectionPoint/UpdateCollectionPoint',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ collectionPointIds: arr, collectionPointDefault: arr1 }),
            success: function () {

                alert('success');
            }
        });

        table.draw(false);
        $("#dialog-submit-edit-CP").dialog('open');
        window.location.href = '@Url.Action("CollectionPoint", "Dept")';

    });


</script>

<h3>Default Collection Point</h3>

<table id="dataTable-collection-point" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Collection Point Id</th>
            <th>Location</th>
            <th>Collection Time</th>
            <th>Default</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<span class="col-md-12">
    <button id="btn-save-collection-point" class="btn btn-info" type="submit" style="float: right">
        Save
    </button>
</span>

<div>
    <p>
        Note: <br />
        Stationery collection is held every Monday (excluding Public Holidays).
    </p>
</div>


<div id="dialog-submit-edit-CP" class="hidden" title="Collection Point Updated">
    <p>Collection Point has been successfully updated.</p>
</div>