@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetReadPendingApprovals/'+ '@Session["LoginEmployeeID"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-notifications-read').DataTable({
                    paging: true,
                    sort: true,
                    order: [[0, "desc"]],
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    responsive: true,
                    columns: [
                        {
                            'data': 'DateRequested',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                            }

                        },
                        {
                            'data': 'FormID',
                            'render': function (data, type, row) {
                                if (row["ApprovalStatus"] == "Pending") {
                                    return '<p> There is a new requisition request ' + row["FormID"] + ' is pending for approval.</p>';
                                }
                                else {
                                    return '<p> The requisition request ' + row["FormID"] + ' has been ' + row["ApprovalStatus"] + '.</p>';
                                }
                            }

                        }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1] },
                    ],
                    drawCallback: function (settings) {
                         $('#dataTable-notifications-read tbody').on('click', 'tr', function () {
                             var data = table.row(this).data();

                             if (data["ApprovalStatus"] == "Pending") {
                                     $.ajax({
                                         url: '/DeptNotifications/MsgClicked',
                                         data: { reqFormId: data["FormID"] },
                                         type: 'POST',
                                         async: false,
                                     });

                                     window.location.href = '@Url.Action("Approval", "Dept")';
                               }
                                 else {
                                     $.ajax({
                                     url: '/DeptNotifications/MsgClicked',
                                     data: { reqFormId: data["FormID"] },
                                     type: 'POST',
                                     async: false
                                 });

                                window.location.href = '@Url.Action("RequisitionHistory", "Dept")';
                             }
                         });
                    }
                });
            }
        });
    });

</script>

<h5>Notifications - Read</h5>

<table id="dataTable-notifications-read" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Date Requested</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>