@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $('#dataTable-storeDisbursementList-details').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });
</script>

<div>
    <h2>Disbursement Information</h2>
</div>


<table id="dataTable-storeDisbursementList-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Unit of Measurement</th>
            <th>Qty Needed</th>
            <th>Qty Delivered</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Post-it Pad</td>
            <td>Boxes</td>
            <td>50</td>
            <td>50</td>
        </tr>
    </tbody>
</table>

<div id="details-back-btn">

    @using (Html.BeginForm("BackToDisbursementList", "StoreDisbursements", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>
