@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        var id = 'DH1';

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetDisbursementListDetails/' + id,
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-storeDisbursementList-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'QuantityReceived' }
                    ]
                });                

            }
        });       



    });
</script>

<div>
    <h2>Disbursement Information</h2>
</div>


<table id="dataTable-storeDisbursementList-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item</th>
            <th>Unit of Measurement</th>
            <th>Qty Needed</th>
            <th>Qty Delivered</th>
        </tr>
    </thead>
   
</table>

<div id="details-back-btn">

    @using (Html.BeginForm("BackToDisbursementList", "StoreDisbursements", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>
