@{
    Layout = null;
}

<script>
    $(document).ready(function () {

var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetDisbursementList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-storeDisbursementList').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "order": [[2, "desc"]],
                "iDisplayLength": 5,                
                //scrollY: 200,
                data: data,
                columns: [
                    {
                        'data': 'Date',
                        'render': function (jsonDate) {

                             var date = new Date(jsonDate.substr(0));
                             var month = date.getMonth() + 1;
                             return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }

                    },
                    { 'data': 'DepartmentName' },
                    { 'data': 'Status' },
                    { 'data': 'CollectionPointDescription' }
                ],
                columnDefs: [
                    { className: 'text-center', targets: [0, 1, 2, 3] },
                ],
                drawCallback: function (settings) {
                    $('#dataTable-storeDisbursementList tbody').off().on('click', 'tr', function () {
                        var data = table.row(this).data();
                        //var dataToBeSent = data["Id"];
                        //alert('You clicked on Requisition Form Number: ' + data["Id"] + '\'s row');

                        $.ajax({
                            url: '/StoreDisbursements/DisplayDisbursementDetails',
                            data: { storeDisbursementFormId: data["Id"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Disbursements", "Store")';

                    });
                }
            });
        }
        });
    });


    @*$(document).ajaxComplete(function () {
                        $('#dataTable-storeDisbursementList tbody').off().on('click', 'tr', function () {
                        var data = table.row(this).data();
                        var dataToBeSent = data["Id"];
                        alert('You clicked on Requisition Form Number: ' + data["Id"] + '\'s row');

                        $.ajax({
                            url: '/StoreDisbursements/DisplayDisbursementDetails',
                            data: dataToBeSent,
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Disbursements", "Store")';

                    });

                });});*@



</script>

<div>
    <h5>List of Disbursements</h5>
</div>

<table id="dataTable-storeDisbursementList" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Date</th>
            <th>Department</th>
            <th>Status</th>
            <th>Collection Point</th>
        </tr>
    </thead>

    <tbody style="font-size: 10pt;">
        @*<tr>
                <td>20-JUN-2018</td>
                <td>MATH</td>
                <td>Outstanding</td>
                <td>Collection Point A</td>
            </tr>

            <tr>
                <td>20-JUN-2018</td>
                <td>SCIENCE</td>
                <td>Completed</td>
                <td>Collection Point A</td>
            </tr>*@
    </tbody>
</table>