@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetDisbursementListDetails/' + '@Session["storeDisbursementFormId"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-storeDisbursementList-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'QuantityReceived' }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1, 2, 3] },
                    ],
                });                

            }
        });       
    });
</script>

<div>
    <h5>Disbursement Information</h5>
    <h6>Disbursement #: @Session["storeDisbursementFormId"]</h6>
</div>


<table id="dataTable-storeDisbursementList-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Unit of Measurement</th>
            <th>Quantity Needed</th>
            <th>Qty Delivered</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("BackToDisbursementList", "StoreDisbursements", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;" />
                }
            </span>
        </div>
    </div>
</div>