@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        //$('#dataTable-storeDisbursementReqList-details').DataTable({
        //    scrollY: '30vh',
        //    scrollCollapse: true,
        //    paging: true
        //});

        var id = 'SR-1';

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRequisitionListDetails/' + id,
            method: 'get',
            dataType: 'json',
            success: function (data) {
                var table = $('#dataTable-storeDisbursementReqList-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [                        
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'QuantityDelivered' }
                    ]
                });               

                var date = new Date(data[0]["DateProcessed"]);

                var month = date.getMonth() + 1;

                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();
                               

                $(function () {
                    $('#store-req-det-reqNo').val(data[0]["FormID"]);
                    $('#store-req-det-deptName').val(data[0]["DepartmentName"]);
                    $('#store-req-det-deptCode').val(data[0]["DepartmentCode"]);
                    $('#store-req-det-empName').val(data[0]["EmployeeName"]);
                    $('#store-req-det-empNo').val(data[0]["EmployeeID"]);

                    $('#store-req-det-approverName').val(data[0]["Manager"]);
                    $('#store-req-det-approvedDate').val(newDate);
                });

            }
        });






    });
</script>

<div>
    <h2>Requisition Information</h2>
</div>

<div>
    <label>Requisition Number: <input type="text" id="store-req-det-reqNo" readonly="readonly"></label>
    <label>Department Name: <input type="text" id="store-req-det-deptName" readonly="readonly"></label>
    <label>Department Code: <input type="text" id="store-req-det-deptCode" readonly="readonly"></label>
    <label>Employee Name: <input type="text" id="store-req-det-empName" readonly="readonly"></label>
    <label>Employee Number: <input type="text" id="store-req-det-empNo" readonly="readonly"></label>
</div>
<div>
    <p>
        <label>Approved By:</label>
        <label>Name: <input type="text" id="store-req-det-approverName" readonly="readonly"></label>
        <label>Date: <input type="text" id="store-req-det-approvedDate" readonly="readonly"></label>
    </p>
</div>

<table id="dataTable-storeDisbursementReqList-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Ordered Qty</th>
            <th>Delivered Qty</th>
        </tr>
    </thead>

</table>

<div id="details-back-btn">

    @using (Html.BeginForm("BackToRequisitionsList", "StoreDisbursements", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>