@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRequisitionListDetails/' + '@Session["storeReqFormId"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                var table = $('#dataTable-storeDisbursementReqList-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    scrollY: 200,
                    scrollCollapse: false,
                    data: data,
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'QuantityDelivered' }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1, 2, 3] },
                    ],
                });

                var date = new Date(data[0]["DateProcessed"]);

                var month = date.getMonth() + 1;

                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();

                $(function () {
                    
                    var deptName = data[0]["DepartmentName"];
                    var empName = data[0]["EmployeeName"]
                    var approverName = data[0]["Manager"];
                    var approvedDate = newDate;
                    
                    $("#deptName").append(deptName);
                    $("#empName").append(empName);
                    $("#approverName").append(approverName);
                    $("#approvedDate").append(approvedDate);
                });
            }
        });
    });
</script>

<div>
    <h5>Requisition Form # @Session["storeReqFormId"]</h5>
</div>

<div class="row">
    <div class="col-md-3">
        <div>
            <label style="font-size: 10pt;">Department Name:&nbsp;</label><label id="deptName" style="font-size: 10pt;" />
        </div>
        <div>
            <label style="font-size: 10pt;">Request Date:&nbsp;</label><label id="approvedDate" style="font-size: 10pt;" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <label style="font-size: 10pt;">Employee:&nbsp;</label><label id="empName" style="font-size: 10pt;" />
        </div>
        <div>
            <label style="font-size: 10pt;">Approved By:&nbsp;</label><label id="approverName" style="font-size: 10pt;" />
        </div>
    </div>
</div>

<table id="dataTable-storeDisbursementReqList-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Ordered Qty</th>
            <th>Delivered Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <span>
                @using (Html.BeginForm("BackToRequisitionsList", "StoreDisbursements", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;" />
                }
            </span>
        </div>
    </div>
</div>