@{
    Layout = null;
}

<script>
    //$(document).ready(function () {
    //    $('#dataTable-storeDisbursementReqList').DataTable({
    //        scrollY: '30vh',
    //        scrollCollapse: true,
    //        paging: true
    //    });
    //});

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetRequisitionList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-storeDisbursementReqList').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    {
                        'data': 'Date',
                        'render': function (jsonDate) {
                            return jsonDate.substr(0, 10);
                        }

                    },
                    { 'data': 'Id' },
                    { 'data': 'Departmentname' },
                    { 'data': 'Status' }
                ]
            });
        }
    });

    $(document).ajaxComplete(function () {
                        $('#dataTable-storeDisbursementReqList tbody').off().on('click', 'tr', function () {
                        var data = table.row(this).data();
                        //'<%Session["SelectedPONumber"] = "' + data[0] + '"; %>';
                                        var dataToBeSent = data["Departmentname"];
                                        alert('You clicked on Requisition Form Number: ' + data["Departmentname"] + '\'s row');

                        $.ajax({
                            url: '/StoreDisbursements/DisplayReqDetails',
                            data: dataToBeSent,
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Disbursements", "Store")';

                    });

                });


</script>

<div>
    <h2>List of Requisitions</h2>
</div>


<table id="dataTable-storeDisbursementReqList" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Requisition Form #</th>
            <th>Department</th>
            <th>Status</th>
        </tr>
    </thead>

    @*<tbody>
        <tr>
            <td>01-JUN-2018</td>
            <td>R010</td>
            <td>MATH</td>
            <td>Open</td>
        </tr>

        <tr>
            <td>20-JUN-2018</td>
            <td>R011</td>
            <td>MATH</td>
            <td>Outstanding</td>
        </tr>

        <tr>
            <td>30-JUN-2018</td>
            <td>R012</td>
            <td>MATH</td>
            <td>Completed</td>
        </tr>
    </tbody>*@

</table>
