@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {

        //$("#div-disbursed").hide();
        //alert(disbursed);

        var disbursed = parseInt(@ViewBag.Disbursed);

        if (disbursed == 0) {
            $("#div-disbursed").hide();           
        }

        var id = parseInt(@ViewBag.IdCount);
        var stoId = 'StoR-' + id;

        if (disbursed == 0) {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetStockRetrievalList/' + stoId,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $('#dataTable-storeDisbursementRetrievalList').dataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        data: data,
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<button>Adjust</button>"
                        }],
                        columns: [
                            { 'data': 'Bin' },
                            { 'data': 'Description' },
                            { 'data': 'QuantityRetrieved' },
                            { 'data': 'CollectionPointDescription' },
                            { 'data': '' }
                        ]
                    });
                }
            });

        }






    });

    $(function () {
        $("#dialog-disburse-retrieval").dialog({
            autoOpen: false
        });
    });

    //$('#btn-disburse-retrieval').click(function () {
    //    $('#dialog-disburse-retrieval').dialog('open');
    //    return false;
    //});

</script>

<div>
    <h2>List of Retrievals</h2>
</div>


<table id="dataTable-storeDisbursementRetrievalList" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Bin</th>
            <th>Item</th>
            <th>Items to Retrieve</th>
            <th>Collection Point</th>
            <th>Report Damaged/Missing items</th>
        </tr>
    </thead>



</table>

<br />
<br />

<div id="div-disbursed">
    <p align="center" style="font-weight:bold; font-size:large;">
        All items have been disbursed
    </p>

</div>

<button class="btn-blue">@Html.ActionLink("Print List", "Home", "Store")</button>

@using (Html.BeginForm("DisburseItems", "StoreDisbursements", FormMethod.Post))
{
    <button class="btn-blue" id="btn-disburse-retrieval">Disburse Items</button>
}



@*<div id="dialog-disburse-retrieval" class="hidden" title="Basic dialog">
        <p>Todo: clear datatable upon disburse of items.</p>
    </div>*@