
<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li><a href="/Dept/DeptCollectionPoint/CollectionPoint">Overview</a></li>
    </ul>
</div> 

