
<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li style="font-size: 10pt;"><a href="/Dept/DeptReport/RptDepartmentUsage">Department Usage</a></li>
    </ul>
</div> 

