
<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li><a href="/Dept/DeptRequisitionHistory/Overview">Overview</a></li>
        @*<li><a href="/Dept/DeptRequisitionHistory/CollectionList">Collection List</a></li>*@
    </ul>
</div>