
<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

@if (User.IsInRole("Employee"))
{
    <div id="tabs-min">
        <ul>
            <li><a href="/Dept/DeptRequisition/NewReq">New Requisition</a></li>
            <li><a href="/Dept/DeptRequisition/BackOrders">Back Orders</a></li>
        </ul>
    </div>
}
else if (User.IsInRole("Employee Representative"))
{
    <div id="tabs-min">
        <ul>
            <li><a href="/Dept/DeptRequisition/NewReq">New Requisition</a></li>
            <li><a href="/Dept/DeptRequisition/BackOrders">Back Orders</a></li>
            <li><a href="/Dept/DeptRequisition/UpcomingDelivery">Upcoming Delivery</a></li>
            <li><a href="/Dept/DeptRequisition/CollectionList">Collection List</a></li>
        </ul>
    </div>
}
