
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Dept/DeptRequisition/NewReq">New Requisition</a></li>
        <li><a href="/Dept/DeptRequisition/BackOrders">Back Orders</a></li>
    </ul>
</div>
