
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/DeptRequisitionHistory/Overview">Overview</a></li>
        <li><a href="/DeptRequisitionHistory/CollectionList">Collection List</a></li>
    </ul>
</div>