@{

    Layout = null;
    string url = null;
    string role = Session["Role"].ToString();

    if (Session["Role"].ToString() == "Employee Representative")
    {
        var id = Session["DepartmentCode"];
        url = "http://localhost:49921/api/Restful/GetBackOrdersByDept/" + id;
    }
    else {
        var id = Session["LoginEmployeeID"];
        url = "http://localhost:49921/api/Restful/GetBackOrdersByEmployee/" + id;
    }

}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

    var table;

    $(document).ready(function () {
        $.ajax({
            url: '@url',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-backOrders').DataTable({
                    scrollY: 200,
                    scrollCollapse: false,
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    "bLengthChange": false,
                    responsive: true,
                    //select: {
                    //    style: 'multi'
                    //},
                    columns: [
                        {   'data': null,
                            'render': function (data, type, row) {
                                return '<input class="select-checkbox-discard" type="checkbox" name="check-discard" value="check-checkbox-discard" />';
                            }

                        },
                        { 'data': 'ItemCode' },
                        { 'data': 'ReqId' },
                        { 'data': 'ItemDesc' },
                        { 'data': 'UOM' },
                        { 'data': 'OutstandingQty' }
                    ],
                    columnDefs: [
                        {
                            "targets": [1],
                            "visible": false,
                            "searchable": false,   
                        }, {
                            className: 'text-center', targets: [0, 1, 2, 3, 4, 5]
                        }
                    ],
                    drawCallback: function (settings) {
                        
                    //    $('#dataTable-backOrders tbody').on('click', 'tr', function () {
                    //        $(this).toggleClass('selected');
                    //    });
                    }

                });

                if (table.rows().data().length > 0) {
                     if ('@role'== "Employee Representative")
                     {

                     }
                     else
                     {
                         $('#btn-submit-discard-backorder-items').prop('disabled', false);
                     }
                }
            }
        });
    });

    $(function () {
        $("#dialog-discard-backorder-item-submitted").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-discard-backorder-no-item-selected").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(function () {
        $("#dialog-confirm-discard-backorder-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-discard-backorder-items').on('click', function () {
        var arr1 = []
        for (var i = 0; i < table.rows().data().length; i++) {
            var rowChecked =
                table.cell(i, 0).nodes().to$().find('input').prop('checked');
            if (rowChecked == true) {
                arr1.push(rowChecked);
            }
        }

        //alert(arr1.length);
        //check if no items are selected
        if (arr1.length == 0) {
            $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
            $("#dialog-discard-backorder-no-item-selected").dialog('open');
            return;
        } else {
            $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
            $('#dialog-confirm-discard-backorder-item').dialog('open');
        }
    });

    $('#btn-confirm-discard-no').on('click', function () {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-confirm-discard-backorder-item').dialog('close');
    });

    $("#dialog-confirm-discard-backorder-item").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-confirm-discard-backorder-item').dialog('close');
    });

    $("#dialog-discard-backorder-no-item-selected").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-discard-backorder-no-item-selected').dialog('close');
    });

    $('#btn-confirm-discard-yes').click(function () {
        
        var dataToSend = "";
        var arr = [];
        var arr1 = [];

        for (var i = 0; i < table.rows().data().length; i++) {
            dataToSend = table.rows(i).data();

            var rowChecked =
                table.cell(i, 0).nodes().to$().find('input').prop('checked');
            if (rowChecked == true) {
                arr.push(dataToSend[0].ItemCode);
                arr1.push(dataToSend[0].ReqId);
            }          

        }

        $.ajax({
            url: '/DeptRequisition/DiscardSelBackorders',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            data: JSON.stringify({ itemCodes: arr, formIds: arr1 }),
            success: function () {

                alert('success');
            }
        });

        $('#dialog-confirm-discard-backorder-item').dialog('close');
        //table.draw(false);
        $('#dialog-discard-backorder-item-submitted').dialog('open');
        
    });

    $('#dialog-discard-backorder-item-submitted').on('dialogclose', function (event) {
          window.location.href = '@Url.Action("Requisition", "Dept")';
    });

    $('body').on('change', '#mass_select_all', function () {
        table.$('input:checkbox').not(this).prop('checked', this.checked);

    });

</script>

<div>
    <h5>Back Order</h5>
</div>


<table id="dataTable-backOrders" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Include <br /><input type="checkbox" checked id="mass_select_all" data-to-table="dataTable-storeManagerInventoryReorder"></th>
            <th>Item Code</th>
            <th>Requisition Form #</th>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Outstanding Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
   
        <span class="col-md-12">
            <button id="btn-submit-discard-backorder-items" class="btn btn-lu-red" type="submit" style="float: right; font-size: 10pt;" disabled>
                Discard Selected Items
            </button>
        </span>
    
</div>

<div id="dialog-confirm-discard-backorder-item" class="hidden"  style="overflow:hidden;"@*title="Confirm Discard Selected (BackOrder)"*@>
    <div style="text-align: center;">
        <h5>Are you sure you want to discard the selected back order?</h5>
    </div>    
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div style="float:right">
                <span>
                    <button class="btn btn-lu-blue" id="btn-confirm-discard-no" style="font-size: 10pt;">No</button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <span>
                <button class="btn btn-lu-red" id="btn-confirm-discard-yes" style="font-size: 10pt;">Yes</button>
            </span>
        </div>      
    </div>    
</div>

<div id="dialog-discard-backorder-item-submitted" class="hidden"  style="overflow:hidden;"@*title="Backorder Item Discarded"*@>
    <br />
    <div style="text-align:center;">
        <h5>Selected back order has been cancelled.</h5>
    </div>   
    <hr />
</div>

<div id="dialog-discard-backorder-no-item-selected" class="hidden"  style="overflow:hidden;" @*title="No Item Selected (BackOrder)"*@>
    <br />
    <div style="text-align:center;">
        <h5>No item was selected for discard.</h5>
    </div>
    <hr />
</div>

