@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

     var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetBackOrdersByDept/'+ '@Session["DepartmentCode"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-backOrders').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    //scrollY: 200,
                    data: data,
                    responsive: true,
                    select: {
                        style: 'multi'
                    },
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'ReqId' },
                        { 'data': 'ItemDesc' },
                        { 'data': 'UOM' },
                        { 'data': 'OutstandingQty' }
                    ],
                    columnDefs: [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    drawCallback: function (settings) {
                        $('#dataTable-backOrders tbody').on('click', 'tr', function () {
                            $(this).toggleClass('selected');
                        });
                    }

                });
            }
        });
    });

    $(function () {
        $("#dialog-discard-backorder-item-submitted").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-discard-backorder-no-item-selected").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(function () {
        $("#dialog-confirm-discard-backorder-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-discard-backorder-items').on('click', function () {

        //check if no items are selected
        var noSelected = table.rows('.selected').data().length;
        if (noSelected == 0) {
            $("#dialog-discard-backorder-no-item-selected").dialog('open');
        } else {
            $('#dialog-confirm-discard-backorder-item').dialog('open');
        }
    });

    $('#btn-confirm-discard-no').on('click', function () {
        $('#dialog-confirm-discard-backorder-item').dialog('close');
    });

    $('#btn-confirm-discard-yes').click(function () {

        var data = table.rows('.selected').data();
        var noSelected = table.rows('.selected').data().length;
        var toDeleteArray = [];
        var toDeleteArray2 = [];

        for (i = 0; i < noSelected; i++) {
            toDeleteArray.push(data[i].ItemCode);
            toDeleteArray2.push(data[i].ReqId);
        }
        
        table.row('.selected').remove().draw(false);

        $.ajax({
            url: '/DeptRequisition/DiscardSelBackorders',
            data:
                JSON.stringify({
                    deleteItemCodes: toDeleteArray, deleteReqId: toDeleteArray2
                }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        $('#dialog-confirm-discard-backorder-item').dialog('close');
         table.draw(false);
        $('#dialog-discard-backorder-item-submitted').dialog('open');
        
    });

</script>

<div>
    <h5>Back Order</h5>
</div>


<table id="dataTable-backOrders" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Requisition Form #</th>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Outstanding Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <span class="col-md-12">
        <button id="btn-submit-discard-backorder-items" class="btn btn-lu-red" type="submit" style="float: right; font-size: 10pt;">
            Discard Selected Items
        </button>
    </span>
</div>

<div id="dialog-confirm-discard-backorder-item" class="hidden" title="Confirm Discard Selected (BackOrder)">
    <p>Are you sure you want to cancel the selected back order?</p>
    <span>
        <button class="btn btn-lu-red" id="btn-confirm-discard-no" style="font-size: 10pt;">No</button>
    </span>

    <span>
        <button class="btn btn-lu-green" id="btn-confirm-discard-yes" style="font-size: 10pt;">Yes</button>
    </span>
</div>

<div id="dialog-discard-backorder-item-submitted" class="hidden" title="Backorder Item Discarded">
    <p>Selected back order has been cancelled.</p>
</div>

<div id="dialog-discard-backorder-no-item-selected" class="hidden" title="No Item Selected (BackOrder)">
    <p>No item was selected for discard.</p>
</div>

