@{
    Layout = null;
}

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetDeptCollectionItems/'+ '@Session["DepartmentCode"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-collection').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'ItemDesc' },
                        { 'data': 'UoM' },
                        { 'data': 'ExpectedQty' }
                    ],

                    columnDefs: [
                        {
                            //"targets": [0],
                            //"visible": false,
                            //"searchable": false
                            className: 'text-center', targets: [0, 1, 2, 3] 
                        }
                    ]

                });
            }
        });
    });
</script>

<h5>Collection list</h5>


<table id="dataTable-collection" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Total Expected Delivery</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<div>
    <div>
        <label style="font-size: 10pt;">Expected Delivery:&nbsp;</label><label style="font-size: 10pt;"@ViewBag.ExpectedDelivery></label>  
    </div>
    <div>
        <label style="font-size: 10pt;">Collection Point:&nbsp;</label><label style="font-size: 10pt;" @ViewBag.CollectionPointDesc></label>
    </div>
    <div>
        <label style="font-size: 10pt;">Collection Time:&nbsp;</label><label style="font-size: 10pt;" @ViewBag.CollectionTime></label>
    </div>
</div>