@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}


<script>
    var pageIndex = @Session["DisbursementListPage"].ToString();
    var backFlag = @Session["BackToDisbursementList"].ToString().ToLower();
    $(function () {
        if (pageIndex == "2" || backFlag == true) {
            $("#tabs").tabs({ active: 2 });
        } else {
            $("#tabs").tabs();
        }
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Store/StoreDisbursements/Requisition">Requisition List</a></li>
        <li><a href="/Store/StoreDisbursements/Retrieval">Retrieval List</a></li>
        <li><a href="/Store/StoreDisbursements/Disbursement">Disbursement List</a></li>
    </ul>
</div>