@*--------------------------------
    Author: Hendri Setia Wardana
    --------------------------------*@

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}


<script>
    $(function () {
         var pageIndex =@Session["StoreDisbursementTabIndex"].ToString();

        switch (pageIndex) {
            case 1:
                $("#tabs-min").tabs();
                break;
            case 2:
                $("#tabs-min").tabs({ active: 1 });
                break;
            case 3:
                $("#tabs-min").tabs({ active: 2 });
                break;
            default:
                $("#tabs-min").tabs();
                break;
        }        
    });
</script>

<div id="tabs-min">
    <ul>
        <li style="font-size: 10pt;"><a href="/Store/StoreDisbursements/Requisition">Requisition List</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StoreDisbursements/Retrieval">Retrieval List</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StoreDisbursements/Disbursement">Disbursement List</a></li>
    </ul>
</div>