@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}


<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Store/StoreDisbursements/Requisition">Requisition List</a></li>
        <li><a href="/Store/StoreDisbursements/Retrieval">Retrieval List</a></li>
        <li><a href="/Store/StoreDisbursements/Disbursement">Disbursement List</a></li>
    </ul>
</div>