@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/StoreInventory/Overview">Overview</a></li>
        <li><a href="/StoreInventory/Reorder">Reorder Stock</a></li>
        <li><a href="/StoreInventory/StockAdj">Stock Adjustment</a></li>
        <li><a href="/StoreInventory/StockTake">Stock Take</a></li>
    </ul>
</div>
