@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>

    $(function () {
        if (@Session["StockAdjPage"].ToString() == "2") {
            $("#tabs-min").tabs({ active: 2 });
        } else {
            $("#tabs-min").tabs();
        }
    });

</script>

@if (@Session["Role"].ToString() == "StoreManager")
{

    <div id="tabs-min">
        <ul>
            <li><a href="/Store/StoreInventory/Overview">Inventory List</a></li>
            <li><a href="/Store/StoreInventory/Reorder">Reorder Stock</a></li>
            <li><a href="/Store/StoreInventory/StockAdj">Stock Adjustment List</a></li>
            <li><a href="/Store/StoreInventory/StockTake">Stock Take</a></li>
        </ul>
    </div>

}
else
{
    <div id="tabs-min">
        <ul>
            <li><a href="/Store/StoreInventoryManager/Overview">Inventory List</a></li>
            <li><a href="/Store/StoreInventoryManager/Reorder">Reorder Stock</a></li>
            <li><a href="/Store/StoreInventory/StockAdj">Stock Adjustment List</a></li>
            @*<li><a href="/Store/StoreInventoryManager/ReviewAdj">Review Adjustments</a></li>*@
        </ul>
    </div>
}