@*--------------------------------
    Author: Hendri Setia Wardana
    --------------------------------*@

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>

    $(function () {
        var pageIndex =@Session["StoreInventoryTabIndex"].ToString();

        switch (pageIndex) {
            case 1:
                $("#tabs-min").tabs();
                break;
            case 2:
                $("#tabs-min").tabs({ active: 1 });
                break;
            case 3:
                $("#tabs-min").tabs({ active: 2 });
                break;
            default:
                $("#tabs-min").tabs();
                break;
        }
    });

</script>


@if (User.IsInRole("Store Clerk"))
{

    <div id="tabs-min">
        <ul>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Overview">Inventory List</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Reorder">Reorder Stock</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockAdj">Stock Adjustment List</a></li>

        </ul>
    </div>

}
else if (User.IsInRole("Store Manager"))
{
    <div id="tabs-min">
        <ul>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Overview">Inventory List</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Reorder">Reorder Stock</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockTake">Stock Take</a></li>
        </ul>
    </div>
}

else if (User.IsInRole("Store Supervisor"))
{
    <div id="tabs-min">
        <ul>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Overview">Inventory List</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Reorder">Reorder Stock</a></li>
            <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockTake">Stock Take</a></li>
        </ul>
    </div>
}