@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>

    $(function () {
        if (@Session["StockAdjPage"].ToString() == "2") {
            $("#tabs-min").tabs({ active: 2 });
        } else {
            $("#tabs-min").tabs();
        }
    });

</script>


    @if (User.IsInRole("Store Clerk"))
    {

        <div id="tabs-min">
            <ul>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Overview">Inventory List</a></li>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventory/Reorder">Reorder Stock</a></li>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockAdj">Stock Adjustment List</a></li>
                
            </ul>
        </div>

    }
    else if (User.IsInRole("Store Manager"))
    {
        <div id="tabs-min">
            <ul>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/Overview">Inventory List</a></li>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/Reorder">Reorder Stock</a></li>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/ReviewAdj">Stock Adjustment List</a></li>
                <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockTake">Stock Take</a></li>
            </ul>
        </div>
    }

    else if (User.IsInRole("Store Supervisor"))
        {
            <div id="tabs-min">
                <ul>
                    <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/Overview">Inventory List</a></li>
                    <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/Reorder">Reorder Stock</a></li>
                    <li style="font-size: 10pt;"><a href="/Store/StoreInventoryManager/ReviewAdj">Review Adjustments</a></li>
                    <li style="font-size: 10pt;"><a href="/Store/StoreInventory/StockTake">Stock Take</a></li>
                </ul>
            </div>
        }