@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}


<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Store/StoreMaintenance/Items">Items</a></li>
        <li><a href="/Store/StoreMaintenance/Categories">Categories</a></li>
        <li><a href="/Store/StoreMaintenance/StoreBin">Bin</a></li>
        <li><a href="/Store/StoreMaintenance/CollectionPoints">Collection Points</a></li>
        <li><a href="/Store/StoreMaintenance/Suppliers">Supplier List</a></li>
        <li><a href="/Store/StoreMaintenance/Departments">Departments</a></li>
    </ul>
</div> 

