@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}


<script>
    $(function () {
        var tabsCurrentPageIndexes = [];
        var pageVariablesArray = [@Session["MaintenanceItemsPage"].ToString(),@Session["MaintenanceCategoriesPage"].ToString(),
            @Session["MaintenanceStoreBinPage"].ToString(),@Session["MaintenanceCollectionPointsPage"].ToString(),
            @Session["MaintenanceSuppliersPage"].ToString(), @Session["MaintenanceDepartmentsPage"].ToString()];

        for (i = 0; i < 6; i++) {
            var item = pageVariablesArray[i];
            tabsCurrentPageIndexes.push(item);
        }

        if (tabsCurrentPageIndexes.filter(x => x == "2").length > 0) {
            var index = tabsCurrentPageIndexes.findIndex(x=> x=="2");
            $("#tabs").tabs({ active: index })
        } else {
            $("#tabs").tabs();
        }
    
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Store/StoreMaintenance/Items">Items</a></li>
        <li><a href="/Store/StoreMaintenance/Categories">Categories</a></li>
        <li><a href="/Store/StoreMaintenance/StoreBin">Bin</a></li>
        <li><a href="/Store/StoreMaintenance/CollectionPoints">Collection Points</a></li>
        <li><a href="/Store/StoreMaintenance/Suppliers">Supplier List</a></li>
        <li><a href="/Store/StoreMaintenance/Departments">Departments</a></li>
    </ul>
</div> 

