@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>

    @*var pageIndex = @Session["GRListPage"].ToString();
    var backFlag = @Session["BackToGRList"].ToString().ToLower();*@

    $(function () {
         var pageIndex =@Session["StorePurchaseTabIndex"].ToString();

        switch (pageIndex) {
            case 1:
                $("#tabs-min").tabs();
                break;
            case 2:
                $("#tabs-min").tabs({ active: 1 });
                break;
            case 3:
                $("#tabs-min").tabs({ active: 2 });
                break;
            default:
                $("#tabs-min").tabs();
                break;
        }
        //if (pageIndex == "2" || backFlag == true) {
        //    $("#tabs-min").tabs({ active: 2 });
        //} else {
        //    $("#tabs-min").tabs();
        //}
    });
</script>

<div id="tabs-min">
    <ul>
        <li style="font-size: 10pt;"><a href="/Store/StorePurchase/POList">Purchase Order List</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StorePurchase/CreatePO">Create Purchase Order</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StorePurchase/GoodsReceivedList">Goods Receipt List</a></li>
    </ul>
</div>
