@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>

  var pageIndex = @Session["GRListPage"].ToString();
    var backFlag = @Session["BackToGRList"].ToString().ToLower();
    $(function () {
        if (pageIndex == "2" || backFlag == true) {
            $("#tabs").tabs({ active: 2 });
        } else {
            $("#tabs").tabs();
        }
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="/Store/StorePurchase/POList">Purchase Order List</a></li>
        <li><a href="/Store/StorePurchase/CreatePO">Create Purchase Order</a></li>
        <li><a href="/Store/StorePurchase/GoodsReceivedList">Goods Receipt List</a></li>
    </ul>
</div>
