@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li><a href="/Store/StoreReports/Report1">Report 1</a></li>
        <li><a href="/Store/StoreReports/Report2">Report 2</a></li>
        <li><a href="/Store/StoreReports/Report3">Report 3</a></li>
        <li><a href="/Store/StoreReports/Report4">Report 4</a></li>
        <li><a href="/Store/StoreReports/Report5">Report 5</a></li>
    </ul>
</div>
