@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li style="font-size: 10pt;"><a href="/Store/StoreReports/RptInventory">Inventory Valuation</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StoreReports/RptReorder">Reorder</a></li>
        <li style="font-size: 10pt;"><a href="/Store/StoreReports/RptDepartmentUsage">Department Usage</a></li>
    </ul>
</div>
