@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<script>
    $(function () {
        $("#tabs-min").tabs();
    });
</script>

<div id="tabs-min">
    <ul>
        <li><a href="/Store/StoreReports/Report1">Inventory Valuation Report</a></li>
        <li><a href="/Store/StoreReports/Report2">Reorder</a></li>
        <li><a href="/Store/StoreReports/Report3">Department Usage</a></li>
    </ul>
</div>
