@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $('#dataTable-newPO').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });

    $(function () {
        $("#datepicker-PODate").datepicker();
        $("#datepicker-PODeliveryDate").datepicker();
    });

    $(function () {
        $("#dialog-addItem-createPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-addItem-createPO').click(function () {
        $('#dialog-addItem-createPO').dialog('open');
        return false;
    });

    $(function () {
        $("#dialog-create-createPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-create-createPO').click(function () {
        $('#dialog-create-createPO').dialog('open');
        return false;
    });

</script>

<div>
    <h2>Create Purchase Order</h2>
</div>

<div class="create-PO-dates">
    <label>Date: <input type="text" id="datepicker-PODate"></label>
    <label>Expected Delivery Date: <input type="text" id="datepicker-PODeliveryDate"></label>
</div>

<div>
    <p>Remarks:</p>
    <textarea rows="4" cols="50">
        Enter remarks here.
    </textarea>
</div>

<table id="dataTable-newPO" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Qty</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>C010</td>
            <td>Pad Postit "2</td>
            <td>Supplier A</td>
            <td>30</td>
            <td>Box</td>
            <td>30</td>
            <td>300</td>
            <td>21</td>
        </tr>
    </tbody>
</table>

<div id="btns-grp-btm">

    <button class="btn-blue" id="btn-addItem-createPO">Add New Item</button>
    <div id="dialog-addItem-createPO" class="hidden" title="Basic dialog">
        <p>Add New Item for new Purchase Order.</p>
    </div>

    <button class="btn-blue">@Html.ActionLink("Cancel", "Home", "Store")</button>

    <button class="btn-blue" id="btn-create-createPO">Create</button>
    <div id="dialog-create-createPO" class="hidden" title="Basic dialog">
        <p>New Purchase Order has been created.</p>
    </div>
</div>


<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>
