@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    var table;
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPOFullDetails/' + $('#lbl-poNumber').text(),
            type: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-displayPO').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'UoM' },
                        { 'data': 'UnitCost' },
                        { 'data': 'Total' },
                        { 'defaultContent': '7%' }
                    ]
                });
                var date = new Date(data[0]["Date"]);
                var month = date.getMonth() + 1;
                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();

                var newDateRec;
                if (data[0]["ReceivedDate"] == null) {
                    newDateRec = "-";
                } else {
                    var dateRec = new Date(data[0]["ReceivedDate"]);
                    var monthRec = dateRec.getMonth() + 1;
                    newDateRec = dateRec.getDate() + "/" + monthRec + "/" + dateRec.getFullYear();
                }


                var i;
                var total =0;
                for (i = 0; i < data.length; i++) {
                    total = total + data[i]["Total"];
                }
                var gst = total * 0.07;
                var netTotal = total + gst;

                $(function () {
                    $('#lbl-poNumber').val(data[0]["PONumber"]);
                    $('#lbl-dateCreated').val(newDate);
                    $('#lbl-del-date').val(newDateRec);
                    $('#lbl-status').val(data[0]["Status"]);
                    $('#displayPO-gross-total').val(twoDP(total));
                    $('#lbl-supplier').val(data[0]["CompanyName"]);
                    $('#displayPO-gst').val(twoDP(gst));
                    $('#displayPO-net-total').val(twoDP(netTotal));
                    $('#ta-remarks').val(data[0]["Remarks"]);
                });

                function twoDP(value) {
                    return parseFloat(Math.round(value * 100) / 100).toFixed(2);
                }
            }
        });
    });

    $(function () {
        $("#dialog-save-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-save-displayPO').click(function () {
        $('#dialog-save-displayPO').dialog('open');
        return false;
    });

    $(function () {
        $("#dialog-edit-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-edit-displayPO').click(function () {
        $('#dialog-edit-displayPO').dialog('open');
        return false;
    });

    $(function () {
        $("#dialog-GR-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-GR-displayPO').click(function () {
        $('#dialog-GR-displayPO').dialog('open');
        return false;
    });

</script>

<div>
    <h2>Display/Edit Purchase Order</h2>
</div>

<div class="create-PO-dates">
    <label>PO Number:&nbsp <label id="lbl-poNumber">@Session["poNumber"]</label></label>
    <br />
    <label>Supplier: <input type="text" id="lbl-supplier" readonly="readonly"></label>
    <label>Date Created: <input type="text" id="lbl-dateCreated" readonly="readonly"></label>
    <label>Delivery Date:<input type="text" id="lbl-del-date" readonly="readonly"></label>
</div>

<div>
    <p>Remarks:</p>
    <textarea id="ta-remarks" rows="4" cols="50">
    </textarea>
</div>

<table id="dataTable-displayPO" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
        </tr>
    </thead>
</table>

<div>
    <label>Gross Total ($): <input type="text" id="displayPO-gross-total" readonly="readonly"></label>
    <label>GST ($): <input type="text" id="displayPO-gst"></label>
    <label>Net Total ($): <input type="text" id="displayPO-net-total"></label>
    <label>PO Status: <input type="text" id="lbl-status" readonly="readonly"></label>
</div>

<div id="btns-grp-btm">
    <button class="btn-blue" id="btn-edit-displayPO">Edit</button>
    <div id="dialog-edit-displayPO" class="hidden" title="Basic dialog">
        <p>Btn action to edit displayed purchase order.</p>
    </div>

    <button class="btn-blue" id="btn-save-displayPO">Save</button>
    <div id="dialog-save-displayPO" class="hidden" title="Basic dialog">
        <p>Changes to Purchase Order have been saved.</p>
    </div>

    <button class="btn-blue" id="btn-GR-displayPO">Goods Receipt</button>
    <div id="dialog-GR-displayPO" class="hidden" title="Basic dialog">
        <p>Goods receipt btn.</p>
    </div>
</div>

<div id="details-back-btn">

    @using (Html.BeginForm("BackToPOList", "StorePurchase", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>

<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>