@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $('#dataTable-displayPO').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });

    $(function () {
        $("#datepicker-PODate").datepicker();
        $("#datepicker-PODeliveryDate").datepicker();
    });

    $(function () {
        $("#dialog-save-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-save-displayPO').click(function () {
        $('#dialog-save-displayPO').dialog('open');
        return false;
    });

    $(function () {
        $("#dialog-edit-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-edit-displayPO').click(function () {
        $('#dialog-edit-displayPO').dialog('open');
        return false;
    });

    $(function () {
        $("#dialog-GR-displayPO").dialog({
            autoOpen: false
        });
    });

    $('#btn-GR-displayPO').click(function () {
        $('#dialog-GR-displayPO').dialog('open');
        return false;
    });

</script>

<div>
    <h2>Display/Edit Purchase Order</h2>
</div>

<div class="create-PO-dates">
    <label>Date: <input type="text" id="datepicker-PODate"></label>
    <label>Expected Delivery Date: <input type="text" id="datepicker-PODeliveryDate"></label>
</div>

<div>
    <p>Remarks:</p>
    <textarea rows="4" cols="50">
        Enter remarks here.
    </textarea>
</div>

<table id="dataTable-displayPO" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Qty</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>C010</td>
            <td>Pad Postit "2</td>
            <td>Supplier A</td>
            <td>30</td>
            <td>Box</td>
            <td>30</td>
            <td>300</td>
            <td>21</td>
        </tr>
    </tbody>
</table>

<div>
    <label>Net Total ($): <input type="text" id="displayPO-net-total"></label>
    <label>GST ($): <input type="text" id="displayPO-GST"></label>
    <label>Gross Total ($): <input type="text" id="displayPO-gross-total"></label>
    <label>PO Status: <input type="text" id="displayPO-status"></label>
</div>

<div id="btns-grp-btm">
    <button class="btn-blue" id="btn-edit-displayPO">Edit</button>
    <div id="dialog-edit-displayPO" class="hidden" title="Basic dialog">
        <p>Btn action to edit displayed purchase order.</p>
    </div>

    <button class="btn-blue" id="btn-save-displayPO">Save</button>
    <div id="dialog-save-displayPO" class="hidden" title="Basic dialog">
        <p>Changes to Purchase Order have been saved.</p>
    </div>

    <button class="btn-blue" id="btn-GR-displayPO">Goods Receipt</button>
    <div id="dialog-GR-displayPO" class="hidden" title="Basic dialog">
        <p>Goods receipt btn.</p>
    </div>
</div>

<style>
    #btns-grp-btm {
        margin-right:10vw;
    }
</style>