@{
    Layout = null;
}


<script>
    var table;
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetGROverview',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-goodsReceived').DataTable({
                    paging: false,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'ReceiptNo' },
                        { 'data': 'ReceivedDate' },
                        { 'data': 'CompanyName' }
                    ]
                });
            }
        });

    });

    $(document).ajaxComplete(function () {
        $('#dataTable-goodsReceived').off().on('click', 'tr', function () {
            var data = table.row(this).data();
            var dataToBeSent = data["ReceiptNo"];

            $.ajax({
                url: '/StorePurchase/DisplayGR',
                data: dataToBeSent,
                type: 'POST',
            });

            window.location.href = '@Url.Action("Purchase", "Store")';
        });

    });
</script>

<div>
    <h2>List of Goods Receipts</h2>
</div>

<table id="dataTable-goodsReceived" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Goods Received #</th>
            <th>Date</th>
            <th>Supplier</th>
        </tr>
    </thead>
</table>