@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetGoodsReceivedLists/' + $('#lbl-gr-grId').text() ,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-displayGR').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    scrollY: 200,
                    scrollCollapse: false,
                    data: data,
                    columns: [
                        { 'data': 'ItemCode' },
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityReceived' },
                        {
                            'data': 'UnitCost',
                            'render': function (data, type, row) {
                                return twoDP(data);
                            }
                        },
                        {
                            'data': 'Total',
                            'render': function (data, type, row) {
                                return twoDP(data);
                            }
                        },
                        { 'defaultContent': '7%' }
                    ],
                    columnDef: [{
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6]
                    }],
                });
                var date = new Date(data[0]["ReceivedDate"]);
                var month = date.getMonth() + 1;
                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();

                var i;
                var total = 0;
                for (i = 0; i < data.length; i++) {
                    total = total + data[i]["Total"];
                }
                var gst = total * 0.07;
                var netTotal = total + gst;

                $(function () {
                    $('#ta-remarks').val(data[0]["Remarks"]);

                    $("#lbl-poNumber").append(data[0]["PONumber"]);
                    $("#lbl-del-date").append(newDate);
                    $("#lbl-companyName").append(data[0]["CompanyName"]);
                    $("#lbl-emp").append(data[0]["EmployeeName"]);
                    $("#lbl-gross-total").append(twoDP(total));
                    $("#lbl-gst").append(twoDP(gst));
                    $("#lbl-net-total").append(twoDP(netTotal));
                });

                function twoDP(value) {
                    return parseFloat(Math.round(value * 100) / 100).toFixed(2);
                }

            }
        });
    });

    $(function () {
        $("#datepicker-GR-Date").datepicker();
    });

    $(function () {
        $("#dialog-print-displayGR").dialog({
            autoOpen: false
        });
    });

    $('#btn-print-displayGR').click(function () {
        $('#dialog-print-displayGR').dialog('open');
        return false;
    });
   
</script>

<div>
    <h5>Goods Receipt</h5>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            <label style="font-size: 10pt;">Goods Receipt Number:&nbsp;</label><label id="lbl-gr-grId">@Session["grId"]</label>
        </div>
        <div>
            <label style="font-size: 10pt;">PO Number:&nbsp;</label><label id="lbl-poNumberr" style="font-size: 10pt;" />
        </div>
        <div>
            <label style="font-size: 10pt;">Date:&nbsp;</label><label id="lbl-del-date" style="font-size: 10pt;" />
        </div>
        <div>
            <label style="font-size: 10pt;">Supplier:&nbsp;</label><label id="lbl-companyName" style="font-size: 10pt;" />
        </div>
        <div>
            <label style="font-size: 10pt;">Created By:&nbsp;</label><label id="lbl-emp" style="font-size: 10pt;" />
        </div>
    </div>
    <div class="col-md-6">
        <div style="float:right;">
            <div style="font-size: 10pt;">
                <p>Remarks:</p>
                <textarea id="ta-remarks" rows="3" cols="50" disabled></textarea>
            </div>
        </div>
    </div>
</div>

<br />

<table id="dataTable-displayGR" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Unit of Measure</th>
            <th>Qty</th>
            <th>Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<br />

<div>
    <label style="font-size: 12pt;">Gross Total ($):&nbsp;</label><strong><label id="lbl-gross-total" style="font-size: 12pt;" /></strong>
    <label style="font-size: 12pt;">&nbsp;GST ($):&nbsp;</label><strong><label id="lbl-gst" style="font-size: 12pt;" /></strong>
    <label style="font-size: 12pt;">&nbsp;Net Total ($):&nbsp;</label><strong><label id="lbl-net-total" style="font-size: 12pt;" /></strong>
</div>


<div class="row">
    <div class="col-md-12">
        <div style="float: right;">
            <div id="details-back-btn">

                @using (Html.BeginForm("BackToGRList", "StorePurchase", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;" />
                }
            </div>

        </div>
    </div>
</div>