@*--------------------------------
    Author: Wong Wei Jie
    --------------------------------*@

@{
    Layout = null;
}


<script>
    var table;
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost/lu/api/Restful/GetGROverview',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-goodsReceived').DataTable({
                    paging: true,
                    sort: true,
                    order: [[0, "Desc"]],
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        { 'data': 'ReceiptNo' },
                        {
                            'data': 'ReceivedDate',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return '<td><span>' + jsonDate + '</span>' + date.getDate() + "/" + month + "/" + date.getFullYear() + '</td>';

                            }
                        },
                        { 'data': 'CompanyName' }
                    ],
                    columnDef: [{
                        className: 'text-center', targets: [0, 1, 2]
                    }],
                });
            }
        });

    });

    $(document).ajaxComplete(function () {
        $('#dataTable-goodsReceived tbody').off().on('click', 'tr', function () {
            var data = table.row(this).data();

            jQuery.ajax({
                url: '/lu/StorePurchase/DisplayGR',
                data: data,
                type: 'POST',
                async: false
            });

            window.location.href = '@Url.Action("Purchase", "Store")';
        });

    });
</script>

<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>List of Goods Receipts</h5>
    </div>

    <table id="dataTable-goodsReceived" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Goods Received #</th>
                <th>Date</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>

</div>

<style>
    #dataTable-goodsReceived span {
        display: none;
    }
</style>
