@*--------------------------------
    Author: Wong Wei Jie
    --------------------------------*@

@{
    Layout = null;
}
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>Purchase Orders</h5>
    </div>

    <table id="dataTable-poList" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>PO Number</th>
                <th>Supplier</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>
</div>

<script>
    var table;
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost/lu/api/Restful/getpolist',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-poList').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "order": [[3, "desc"], [0, "desc"]],
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        { 'data': 'PONumber' },
                        { 'data': 'CompanyName' },
                        {
                            'data': 'Date',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return '<td><span>' + jsonDate + '</span>' + date.getDate() + "/" + month + "/" + date.getFullYear() + '</td>';

                            }
                        },
                        { 'data': 'Status' }
                    ],
                    columnDef: [{
                        className: 'text-center', targets: [0, 1, 2, 3]
                    }],
                });
            }
        });
    });

    $(document).ajaxComplete(function () {
        $('#dataTable-poList tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

            jQuery.ajax({
                type: 'POST',
                url: '/lu/StorePurchase/DisplayPO',
                data: data,
                async: false
            });

            window.location.href = '@Url.Action("Purchase", "Store")';
        });


    });
</script>

<style>
    #dataTable-poList span {
        display: none;
    }
</style>
