@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        var table;
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetCollectionList',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-collectionList').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityBackOrdered' }
                    ]
                });
            }
        });
    });

</script>

<div>
    <h5>Collection List</h5>
</div>


<table id="dataTable-collectionList" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Total Expected Delivery</th>
        </tr>
    </thead>

    <tbody style="font-size: 10pt;"></tbody>

</table>

<div>@Html.ActionLink("Print", "Home", "Dept", null, new { @class = "btn btn-lu-green", style = "font-size: 10pt;" })</div>
