@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        var table;
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRequisitionHistory',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-pastReq').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'FormID' },
                        { 'data': 'DateRequested' },
                        { 'data': 'ApprovalStatus' }
                    ]
                }).on('click', 'tr', function () {
                    var datum = table.row(this).data();

                    jQuery.ajax({
                        url: '/DeptRequisitionHistory/DisplayReqHistoryDetails',
                        data: datum,
                        type: 'POST',
                    });

                    window.location.href = '@Url.Action("RequisitionHistory", "Dept")';
                })
            }
        });
    });

</script>

<div>
    <h2>Requisition History</h2>
</div>


<table id="dataTable-pastReq" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Requisition Form #</th>
            <th>Date Requested</th>
            <th>Approval Status</th>
        </tr>
    </thead>
</table>
