@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        var table;
        var url = '';

        if ('@Session["Role"].ToString()' == 'Employee Representative') {
            url = 'http://localhost:49921/api/Restful/GetDeptRequisitionHistory/' + '@Session["DepartmentCode"]'
        } else {
            url = 'http://localhost:49921/api/Restful/GetRequisitionHistory/' + '@Session["LoginEmployeeID"]'
        }


        $.ajax({
            url: url,
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-pastReq').DataTable({
                    scrollY: 200,
                    scrollCollapse: false,
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        { 'data': 'FormID' },
                        {
                            'data': 'DateRequested',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            }
                        },
                        { 'data': 'Status' },
                        { 'data': 'ApprovalStatus' }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1, 2, 3] },
                    ]
                }).on('click', 'tbody tr', function () {
                    var datum = table.row(this).data();
                    jQuery.ajax({
                        url: '/DeptRequisitionHistory/DisplayReqHistoryDetails',
                        data: datum,
                        type: 'POST',
                        async: false
                    });

                    window.location.href = '@Url.Action("RequisitionHistory", "Dept")';
                })
            }
        });
    });

</script>

<div>
    <h5>Requisition History</h5>
</div>


<table id="dataTable-pastReq" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Requisition Form #</th>
            <th>Date Requested</th>
            <th>Delivery Status</th>
            <th>Approval Status</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>
