@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        var table;
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRequisitionHistoryDetail/' + '@Session["id"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-pastReq-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    columns: [
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        { 'data': 'QuantityOrdered' },
                        { 'data': 'QuantityDelivered' },
                        { 'data': 'QuantityBackOrdered' }
                    ]
                });
            }
        });
    });
</script>

<div>
    <h2>Requisition Form # @Session["id"]</h2>
</div>


<table id="dataTable-pastReq-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Requested Qty</th>
            <th>Delivered Qty</th>
            <th>Back Order Qty</th>
        </tr>
    </thead>
</table>

<div>@Html.ActionLink("Back", "RequisitionHistory", "Dept", null, new { @class = "btn btn-info" })</div>