@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $('#dataTable-roles-delegation').DataTable({
            scrollY: '50vh',
            scrollCollapse: true,
            paging: true
        });
    });
</script>

<h2>Role Delegation</h2>
<table id="dataTable-roles-delegation" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Role</th>
            <th>Assign</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Evelyn</td>
            <td>Role1</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>Jayden</td>
            <td>Role2</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>Kit</td>
            <td>Role3</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>HP</td>
            <td>Role4</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>Chiraj</td>
            <td>Role5</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>Hendri</td>
            <td>Role6</td>
            <td><button>Edit</button></td>
        </tr>
        <tr>
            <td>Sandy</td>
            <td>Role7</td>
            <td><button>Edit</button></td>
        </tr>
    </tbody>
</table>

