@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetAllPendingApprovals/'+ '@Session["DepartmentCode"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-notifications-all').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        {
                            'data': 'DateReq',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                            }
                        
                        },
                        {
                            'data': 'ReqFormId',
                            'render': function (data, type, row) {
                                return '<p> There is a new requisition request ' + row["ReqFormId"] +' pending for approval.</p>';
                            }

                        },
                        //{
                        //    'data': null,
                        //    'render': function (data, type, row) {
                        //        return '<input type="checkbox" name="check-read" value="ReadMsg"/>';
                        //    }

                        //}
                    ],
                    drawCallback: function (settings) {
                         $('#dataTable-notifications-all tbody').on('click', 'tr', function () {
                            var data = table.row(this).data();
                             //alert(data["ReqFormId"]);

                            $.ajax({
                                url: '/StoreNotifications/MsgClicked',
                                data: { reqFormId: data["ReqFormId"] },
                                type: 'POST',
                            });

                            window.location.href = '@Url.Action("Approval", "Dept")';
                        });
                    }

                });
            }
        });
    });

</script>

<h5>Notifications - All</h5>

<table id="dataTable-notifications-all" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Date Requested</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>