@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Category

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>

     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost/lu/api/Restful/GetCategoryList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-categories').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 5,
                data: data,
                columns: [
                    { 'data': 'CategoryID' },
                    { 'data': 'CategoryName' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status !=0 ? 'Active' : 'Inactive';
                        }
                    },
                ],
                 drawCallback: function (settings) {
                    $('#dataTable-store-categories tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/lu/StoreMaintenance/DisplayCategoryDetails',
                            data: { maintenanceCategoryId: data["CategoryID"] },
                            type: 'POST',
                            async: false
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }, {
                        className: 'text-center', targets: [0, 1, 2]
                    }
                ]
            });
        }
        });
    });

    $(function () {
        $("#dialog-add-new-category").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-new-category').on('click', function () {
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-add-new-category').dialog('open');
    });

    $("#dialog-add-new-category").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-add-new-category').dialog('close');
    });

    $(function () {
        $("#dialog-submit-add-category").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-add-category').on('click', function () {
        $('#dialog-add-new-category').dialog('close');
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-submit-add-category').dialog('open');
    });

    $("#dialog-submit-add-category").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-submit-add-category').dialog('close');
    });
</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>Maintenance - Category</h5>
    </div>


    <table id="dataTable-store-categories" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <span>
                    <button id="btn-add-new-category" class="btn btn-lu-blue" style="font-size: 10pt;">Add</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog-add-new-category" class="hidden" style="overflow-x:hidden;">
        @using (Html.BeginForm("AddNewCategory", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-category", autocomplete = "off" }))
        {
            <div>
                <br />
                <div style="text-align:center"><h5>Add New Category</h5></div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label>Category Name: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category Name", @maxlength = "255", @id = "new-category-name" }, })
                    </div>
                </div>

                <hr />

                <input id="btn-submit-add-category" class="btn btn-lu-green btn-block" type="submit" value="Add" />

            </div>
        }
    </div>

    <div id="dialog-submit-add-category" class="hidden" style="overflow-x:hidden;">
        <br />
        <div style="text-align:center;">
            <h5>New Category has been successfully added!</h5>
        </div>
        <hr />
    </div>
</div>