@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $('#dataTable-storeMaintenanceCategory').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });

    var table = $('#dataTable-storeMaintenanceCategory').DataTable();

    $('#dataTable-storeMaintenanceCategory tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        //'<%Session["SelectedPONumber"] = "' + data[0] + '"; %>';
        var dataToBeSent = data[0];
        alert('You clicked on Item: ' + data[0] + '.');

        $.ajax({
            url: '/StoreMaintenance/DisplayCategoryDetails',
            data: dataToBeSent,
            type: 'POST',
        });

        window.location.href = '@Url.Action("Maintenance", "Store")';

    });
</script>

<div>
    <h2>Maintenance - Category</h2>
</div>


<table id="dataTable-storeMaintenanceCategory" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Clip "2</td>
            <td>
                <input type="checkbox" name="updateItemStatus" value="itemStatus" checked>
                <br>
            </td>
        </tr>

        <tr>
            <td>Clip "2.5</td>
            <td>
                <input type="checkbox" name="updateItemStatus" value="itemStatus" checked>
                <br>
            </td>
        </tr>
    </tbody>
</table>


<button class="btn-blue">@Html.ActionLink("Add New Category", "Home", "Store")</button>

