@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetCollectionPointList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-collection-points').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'CollectionPointID' },
                    { 'data': 'CollectionPointDescription' },
                    { 'data': 'CollectionTime' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-collection-points tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayCollectionPointDetails',
                            data: { maintenanceCollectionPtCode: data["CollectionPointID"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
</script>

<div>
    <h2>Maintenance - Collection Point</h2>
    <button class="btn-blue">@Html.ActionLink("Add New Collection Point", "Home", "Store")</button>
</div>


<table id="dataTable-store-collection-points" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Collection Point Id</th>
            <th>Collection Point Description</th>
            <th>Time</th>
            <th>Active</th>
        </tr>
    </thead>
</table>

