@{
    Layout = null;
}


@using SA46Team1_Web_ADProj.Models;
@model CollectionPoint

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetCollectionPointList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-collection-points').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 5,
                //scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'CollectionPointID' },
                    { 'data': 'CollectionPointDescription' },
                    { 'data': 'CollectionTime' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-collection-points tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayCollectionPointDetails',
                            data: { maintenanceCollectionPtCode: data["CollectionPointID"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });


    $(function () {
        $("#dialog-add-new-collection-point").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-new-collection-point').on('click', function () {
        $('#dialog-add-new-collection-point').dialog('open');
    });

    $(function () {
        $("#dialog-submit-add-collection-point").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-add-collection-point').on('click', function () {
        $('#dialog-add-new-collection-point').dialog('close');
        $('#dialog-submit-add-collection-point').dialog('open');
    });
</script>

<div>
    <h5>Maintenance - Collection Point</h5>
</div>


<table id="dataTable-store-collection-points" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Collection Point Id</th>
            <th>Collection Point Description</th>
            <th>Time</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button id="btn-add-new-collection-point" class="btn btn-lu-blue" style="font-size: 10pt;">Add New Collection Point</button>
            </span>
        </div>
    </div>
</div>

<div id="dialog-add-new-collection-point" class="hidden" title="Add Collection Point (Maintenance)">
    @using (Html.BeginForm("AddNewCollectionPoint", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-collection-point" }))
    {
        <div>
            <div>
                <label>Collection Point Description: </label>
                @Html.EditorFor(model => model.CollectionPointDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description", @id = "new-collection-pt-desc" }, })
            </div>

            <div>
                <label>Collection Point Time: </label>
                @Html.EditorFor(model => model.CollectionTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Time", @id = "new-collection-pt-time", @type = "time" }, })
            </div>

            <hr />

            <input id="btn-submit-add-collection-point" class="btn btn-lu-green btn-block" type="submit" value="Add" />

        </div>
    }
</div>

<div id="dialog-submit-add-collection-point" class="hidden" title="Add Collection Point Successful (Maintenance)">
    <p>New Collection Point has been successfully added.</p>
</div>

