@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $('#dataTable-storeMaintenanceCollectionPts').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });

    var table = $('#dataTable-storeMaintenanceCollectionPts').DataTable();

    $('#dataTable-storeMaintenanceCollectionPts tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        //'<%Session["SelectedPONumber"] = "' + data[0] + '"; %>';
        var dataToBeSent = data[2];
        alert('You clicked on Item: ' + table.row(this) + '.');

        $.ajax({
            url: '/StoreMaintenance/DisplayCollectionPointDetails',
            data: dataToBeSent,
            type: 'POST',
        });

        window.location.href = '@Url.Action("Maintenance", "Store")';

    });
</script>

<div>
    <h2>Maintenance - Collection Point</h2>
    <button class="btn-blue">@Html.ActionLink("Add New Collection Point", "Home", "Store")</button>
</div>


<table id="dataTable-storeMaintenanceCollectionPts" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Collection Point</th>
            <th>Time</th>
            <th>Staff-in-charge</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Colletion Point A</td>
            <td>9.30am</td>
            <td>Ms Irene Tan</td>
            <td>
                <input type="checkbox" name="updatCollectionPtStatus" value="collectionPtStatus" checked>
                <br>
            </td>
        </tr>

    </tbody>
</table>

