@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

    
    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetCollectionPointList/'+ '@Session["MaintenanceCollectionPtCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-collection-points-details').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'CollectionPointID' },
                    { 'data': 'CollectionPointDescription' },
                    { 'data': 'CollectionTime' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },
                ],
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
</script>

<div>
    <h2>Collection Point: @Session["MaintenanceCollectionPtCode"]</h2>
</div>


<table id="dataTable-store-collection-points-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Collection Point Id</th>
            <th>Collection Point Description</th>
            <th>Time</th>
            <th>Active</th>
        </tr>
    </thead>
</table>

<button class="btn-blue">@Html.ActionLink("Edit", "Home", "Store")</button>


<div id="details-back-btn">

    @using (Html.BeginForm("BackToCollectionPointsMaintenanceList", "StoreMaintenance", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>