@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetCollectionPointList/'+ '@Session["MaintenanceCollectionPtCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            d = data;

            table = $('#dataTable-store-collection-points-details').DataTable({
                paging: true,
                sort: true,
                searching: false,
                "iDisplayLength": 5,
                data: data,
                columns: [
                    {
                        'data': 'CollectionPointID'
                    },
                    {
                        'data': 'CollectionPointDescription',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-collection-point-desc" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'CollectionTime',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-collection-point-time" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            if (data != 0) {
                                //active status
                                return '<input id="input-collection-point-active" type="checkbox" checked>';
                            } else {
                                return '<input id="input-collection-point-active" type="checkbox">';
                            }
                        }
                    },
                ],
                columnDefs: [
                    {
                        //"targets": [0],
                        //"visible": false,
                        //"searchable": false
                        className: 'text-center', targets: [0, 1, 2, 3]
                    }
                ]
            });
        }
        });
    });

    $(function () {
        $("#dialog-submit-edit-collection-point").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(document).ajaxComplete(function () {
        $('#btn-edit-collection-point').click(function () {
            var dataToSend = "";
            var arr = [];

            dataToSend = table.rows(0).data();
            for (var i = 0; i < Object.keys(d).length; i++) {
                var rowData = dataToSend[i];
                rowData.CollectionPointDescription = $("#input-collection-point-desc").val();
                rowData.CollectionTime = $("#input-collection-point-time").val();
                rowData.Active = $("#input-collection-point-active").prop('checked');

                arr.push(rowData);
            }

            $('#dialog-submit-edit-collection-point').dialog('open');


            $.ajax({
                type: 'POST',
                url: '/Store/StoreMaintenance/CollectionPoints/EditCollectionPoint',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                data: JSON.stringify({ arr: arr })
            });

            window.location.href = '@Url.Action("Maintenance", "Store")';

        });
    });
</script>

<div>
    <h5>Collection Point: @Session["MaintenanceCollectionPtCode"]</h5>
</div>


<table id="dataTable-store-collection-points-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Collection Point Id</th>
            <th>Collection Point Description</th>
            <th>Time</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody style="font-size: 10pt;">
        @*<tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>*@
    </tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-11">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("BackToCollectionPointsMaintenanceList", "StoreMaintenance", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;"/>
                }
            </span>           
        </div>
    </div>
    <div class="col-md-1">
        <span>
            <button id="btn-edit-collection-point" class="btn btn-lu-green" style="font-size: 10pt;">Save</button>
        </span>
    </div>
</div>

<div id="dialog-submit-edit-collection-point" class="hidden" title="Edit Collection Point Successful (Maintenance)">
    <p>Collection Point has been successfully edited.</p>
</div>