@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetDeptsList/'+ '@Session["MaintenanceDeptCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-departments-details').DataTable({
                paging: true,
                sort: true,
                searching: false,
                //scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'DepartmentCode' },
                    { 'data': 'DepartmentName' },
                    { 'data': 'ContactName' },
                    { 'data': 'TelephoneNo' },
                    { 'data': 'FaxNo' },
                    { 'data': 'ApproverName' },
                    { 'data': 'CollectionPointName' },
                    { 'data': 'RepresentativeName' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },
                ],
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
</script>

<div>
    <h2>Department Code: @Session["MaintenanceDeptCode"]</h2>
</div>


<table id="dataTable-store-departments-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Dept Code</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Head of Department</th>
            <th>Collection Point</th>
            <th>Representative</th>
            <th>Active</th>
        </tr>
    </thead>
</table>

<hr />

<div class="row">
    <div class="col-md-11">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("BackToDeptsMaintenanceList", "StoreMaintenance", FormMethod.Post))
                {
                    <input class="btn btn-danger" type="submit" value="Back" />
                }
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span>
            <button class="btn btn-info">@Html.ActionLink("Edit", "Home", "Store")</button>
        </span>
    </div>
</div>
