@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {

        var table;

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetDeptsList',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-store-departments').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    columns: [
                        { 'data': 'DepartmentCode' },
                        { 'data': 'DepartmentName' },
                        { 'data': 'ContactName' },
                        { 'data': 'TelephoneNo' },
                        { 'data': 'FaxNo' },
                        { 'data': 'ApproverName' },
                        { 'data': 'CollectionPointName' },
                        { 'data': 'RepresentativeName' },
                        {
                            'data': 'Active',
                            render: function (data, type, row) {

                                var status = data;
                                return status != 0 ? 'Active' : 'Inactive';
                            }
                        },],
                    drawCallback: function (settings) {
                        $('#dataTable-store-departments tbody').on('click', 'tr', function () {
                            var data = table.row(this).data();

                            $.ajax({
                                url: '/StoreMaintenance/DisplayDepartmentDetails',
                                data: { maintenanceDeptCode: data["DepartmentCode"] },
                                type: 'POST',
                                async: false
                            });

                            window.location.href = '@Url.Action("Maintenance", "Store")';

                        });
                    },
                    columnDefs: [
                        {
                            className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    ]
                });
            }
        });
    });
</script>

<div>
    <h5> Maintenance - Department </h5>
</div>


<table id="dataTable-store-departments" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Dept Code</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Head of Department</th>
            <th>Collection Point</th>
            <th>Representative</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>
