@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />
    
<script>
    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetItemsList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-items').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'ItemCode' },
                    { 'data': 'Description' },
                    { 'data': 'CategoryName' },
                    { 'data': 'UoM' },
                    { 'data': 's1' },
                    { 'data': 's2' },
                    { 'data': 's3' },
                    { 'data': 'Active' }
                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-items tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayItemDetails',
                            data: { maintenanceItemCode: data["ItemCode"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
    
</script>

<div>
    <h2>Maintenance - Item</h2>
    <button class="btn-blue">@Html.ActionLink("Add New Item", "Home", "Store")</button>
</div>


<table id="dataTable-store-items" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Unit of Measure</th>
            <th>Supplier 1</th>
            <th>Supplier 2</th>
            <th>Supplier 3</th>
            <th>Active</th>
        </tr>
    </thead>
</table>
