@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>

    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetItemsList/' + '@Session["MaintenanceItemCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-items-details').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'ItemCode' },
                    { 'data': 'Description' },
                    { 'data': 'CategoryName' },
                    { 'data': 'UoM' },
                    { 'data': 's1' },
                    { 'data': 's2' },
                    { 'data': 's3' },
                    { 'data': 'Active' }
                ],
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
</script>

<div>
    <h2>Item Code: @Session["MaintenanceItemCode"]</h2>
</div>


<table id="dataTable-store-items-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Unit of Measure</th>
            <th>Supplier 1</th>
            <th>Supplier 2</th>
            <th>Supplier 3</th>
            <th>Active</th>
        </tr>
    </thead>
</table>


<div>
    <button class="btn-blue">@Html.ActionLink("Edit", "Home", "Store")</button>
</div>


<div id="details-back-btn">

    @using (Html.BeginForm("BackToItemsMaintenanceList", "StoreMaintenance", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>