@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    var table;

     $(document).ready(function () {
    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetBinsList/'+ '@Session["MaintenanceBinId"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            d = data;

            table = $('#dataTable-store-bins-details').DataTable({
                paging: true,
                sort: true,
                searching: false,
                "iDisplayLength": 5,
                //scrollY: 200,
                data: data,
                columns: [
                    {
                        'data': 'Number'
                    },
                    {
                        'data': 'Location',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-bin-location" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            if (data != 0) {
                                //active status
                                return '<input id="input-bin-active" type="checkbox" checked>';
                            } else {
                                return '<input id="input-bin-active" type="checkbox">';
                            }
                        }
                    },
                ],
                //columnDefs: [
                //    {
                //        "targets": [0],
                //        "visible": false,
                //        "searchable": false
                //    }
                //]
            });
        }
        });
    });


    $(function () {
        $("#dialog-submit-edit-bin").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(document).ajaxComplete(function () {
        $('#btn-edit-bin').click(function () {
            var dataToSend = "";
            var arr = [];

            dataToSend = table.rows(0).data();
            for (var i = 0; i < Object.keys(d).length; i++) {
                var rowData = dataToSend[i];
                rowData.Location = $("#input-bin-location").val();
                rowData.Active = $("#input-bin-active").prop('checked');

                arr.push(rowData);
            }

            $('#dialog-submit-edit-bin').dialog('open');


            $.ajax({
                type: 'POST',
                url: '/Store/StoreMaintenance/StoreBin/EditBin',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ arr: arr })
            });

            window.location.href = '@Url.Action("Maintenance", "Store")';

        });
    });
</script>

<div>
    <h2>Bin: @Session["MaintenanceBinId"]</h2>
</div>


<table id="dataTable-store-bins-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Bin Number</th>
            <th>Bin Name</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;">
            @*<tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>*@
    </tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-11">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("BackToBinsMaintenanceList", "StoreMaintenance", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;"/>
                }
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span>
            <button id="btn-edit-bin" class="btn btn-lu-green" style="font-size: 10pt;">Save</button>
        </span>
    </div>
</div>

<div id="dialog-submit-edit-bin" class="hidden" title="Edit Bin Successful (Maintenance)">
    <p>Bin has been successfully edited.</p>
</div>
