@{
    Layout = null;
}


@using SA46Team1_Web_ADProj.Models;
@model Bin


<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetBinsList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-bins').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 5,
                //scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'Number' },
                    { 'data': 'Location' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status !=0 ? 'Active' : 'Inactive';
                        }
                    },
                ],
                 drawCallback: function (settings) {
                    $('#dataTable-store-bins tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayStoreBinDetails',
                            data: { maintenanceBinId: data["Number"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });

    $(function () {
        $("#dialog-add-new-bin").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-new-bin').on('click', function () {
        $('#dialog-add-new-bin').dialog('open');
    });

    $(function () {
        $("#dialog-submit-add-bin").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-add-bin').on('click', function () {
        $('#dialog-add-new-bin').dialog('close');
        $('#dialog-submit-add-bin').dialog('open');
    });
</script>

<div>
    <h5>Maintenance - Bin</h5>
</div>


<table id="dataTable-store-bins" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Bin Location</th>
            <th>Item Description</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button id="btn-add-new-bin" class="btn btn-lu-blue" style="font-size: 10pt;">Add New Bin</button>
            </span>
        </div>
    </div>
</div>


<div id="dialog-add-new-bin" class="hidden" title="Add Bin (Maintenance)">
    @using (Html.BeginForm("AddNewBin", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-bin" }))
    {
        <div>
            <div>
                <label>Location: </label>
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bin Location", @id = "new-bin-location" }, })
            </div>
            <br />
            <div>
                <label>Item Code: </label>
                @Html.DropDownList("SelectBinItem", ViewBag.ItemsList as SelectList)
            </div>

            <hr />

            <input id="btn-submit-add-bin" class="btn btn-lu-green btn-block" type="submit" value="Add" />

        </div>
    }
</div>

<div id="dialog-submit-add-bin" class="hidden" title="Add Bin Successful (Maintenance)">
    <p>New Bin has been successfully added.</p>
</div>
