@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $('#dataTable-storeMaintenanceBin-details').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });
</script>

<div>
    <h2>Bin: B01</h2>
</div>


<table id="dataTable-storeMaintenanceBin-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Shelf 1, Bin 1</td>
            <td>
                <input type="checkbox" name="updateBinStatus" value="binStatus" checked>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn-blue">@Html.ActionLink("Edit", "Home", "Store")</button>


<div id="details-back-btn">

    @using (Html.BeginForm("BackToBinsMaintenanceList", "StoreMaintenance", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>