@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetSuppliersList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-suppliers').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'SupplierCode' },
                    { 'data': 'CompanyName' },
                    { 'data': 'ContactName' },
                    { 'data': 'PhoneNo' },
                    { 'data': 'FaxNo' },
                    { 'data': 'Address' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-suppliers tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplaySupplierDetails',
                            data: { maintenanceSupplierCode: data["SupplierCode"] },
                            type: 'POST',
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
    @*$(document).ready(function () {
        $('#dataTable-storeMaintenanceSuppliers').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });

    var table = $('#dataTable-storeMaintenanceSuppliers').DataTable();

    $('#dataTable-storeMaintenanceSuppliers tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        //'<%Session["SelectedPONumber"] = "' + data[0] + '"; %>';
        var dataToBeSent = data[0];
        alert('You clicked on Item: ' + data[0] + '.');

        $.ajax({
            url: '/StoreMaintenance/DisplaySupplierDetails',
            data: dataToBeSent,
            type: 'POST',
        });

        window.location.href = '@Url.Action("Maintenance", "Store")';

    });*@
</script>

<div>
    <h2>Maintenance - Supplier</h2>
    <button class="btn-blue">@Html.ActionLink("Add New Supplier", "Home", "Store")</button>
</div>


<table id="dataTable-store-suppliers" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Supplier Code</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Address</th>
            <th>Active</th>
        </tr>
    </thead>
</table>
