@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $('#dataTable-storeMaintenanceSuppliers-details').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true
        });
    });
</script>

<div>
    <h2>Supplier: ALPA</h2>
</div>


<table id="dataTable-storeMaintenanceSuppliers-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Address</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Supplier A</td>
            <td>Ms Irene Tan</td>
            <td>461 9999</td>
            <td>461 9992</td>
            <td>Blk 111 NTU Lost Road</td>
            <td>
                <input type="checkbox" name="updateSupplierStatus" value="supplierStatus" checked>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn-blue">@Html.ActionLink("View Price List", "Home", "Store")</button>
<button class="btn-blue">@Html.ActionLink("Edit", "Home", "Store")</button>
